.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
config/database.yml
db/*.sqlite3
db/*.db
db/yaml_exports
db/descriptions
db/collection_plists
ruby
*.tmproj
.#*
/app/controllers/.search_controller.rb.swp
/app/stylesheets/partials/._collection_page.sass.swp
/app/stylesheets/partials/._pagination.sass.swp
/app/views/search/.show.html.haml.swp
/app/views/seo/.show_collection.html.haml.swp
/app/controllers/.blog_controller.rb.swp
/app/stylesheets/partials/._layout.sass.swp
/app/views/blog/.index.html.haml.swp
/app/views/layouts/.new_design.html.haml.swp
/public/javascripts/.global.js.swp
/app/controllers/.seo_controller.rb.swp