/* line 4, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 41, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 44, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
/* line 47, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}
/* line 49, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 51, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 53, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
body.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
body.bp form.inline p {
  margin-bottom: 0;
}

/* line 1, ../../../app/stylesheets/partials/_layout.sass */
#main-content {
  padding-left: 15px;
}

/* line 6, ../../../app/stylesheets/partials/_layout.sass */
body {
  background-color: white;
}

/* line 9, ../../../app/stylesheets/partials/_layout.sass */
.top_nav {
  height: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  background: #c9af87;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .top_nav {
  overflow-x: hidden;
}
/* line 16, ../../../app/stylesheets/partials/_layout.sass */
.top_nav #logo {
  float: left;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  margin-top: 4px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .top_nav #logo {
  overflow-x: hidden;
}
/* line 21, ../../../app/stylesheets/partials/_layout.sass */
.top_nav #logo img {
  margin-left: 30px;
}
/* line 24, ../../../app/stylesheets/partials/_layout.sass */
.top_nav #searchbox {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  margin-top: 4px;
  margin-left: 30px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .top_nav #searchbox {
  overflow-x: hidden;
}
/* line 29, ../../../app/stylesheets/partials/_layout.sass */
.top_nav #searchbox input {
  margin-top: 2px;
  height: 22px;
  width: 225px;
  color: #d2d2d3;
  font-size: 12px;
  font-family: "helvetica";
  border: 1px solid #ab9573;
}
/* line 37, ../../../app/stylesheets/partials/_layout.sass */
.top_nav #navigator {
  display: inline;
  float: left;
  margin-right: 0;
  width: 510px;
  text-align: left;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .top_nav #navigator {
  overflow-x: hidden;
}
/* line 40, ../../../app/stylesheets/partials/_layout.sass */
.top_nav #navigator ul {
  list-style: none;
  color: white;
  font-size: 17px;
  font-weight: regular;
  margin-top: 9px;
  font-family: "helvetica";
}
/* line 47, ../../../app/stylesheets/partials/_layout.sass */
.top_nav #navigator ul li {
  display: inline;
  margin-left: 14px;
}
/* line 50, ../../../app/stylesheets/partials/_layout.sass */
.top_nav #navigator ul li.blog {
  float: right;
}

/* line 1, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 710px;
  text-align: left;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #home-page-content {
  overflow-x: hidden;
}
/* line 4, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-content #classicly-welcome-text {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
  padding-top: 30px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #home-page-content #classicly-welcome-text {
  overflow-x: hidden;
}
/* line 7, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-content #classicly-welcome-text h1, #home-page-content #classicly-welcome-text .info {
  margin-left: 12px;
}
/* line 9, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-content #classicly-welcome-text h1 {
  margin-top: 20px;
  font-family: "museo-slab-1", "museo-slab-2", arial, serif;
  font-weight: normal;
  font-size: 40px;
  color: #333333;
  background: #ffff66;
  padding: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
  float: left;
}
/* line 21, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-content #classicly-welcome-text .info {
  font-family: "Helvetica", arial, serif;
  font-size: 16px;
  color: #999999;
  width: 100%;
  float: left;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  margin-bottom: 12px;
}
/* line 31, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-content #classicly-welcome-text .info .emphasize {
  font-size: 20px;
  color: #333333;
}
/* line 34, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-content #classicly-featured-book {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #home-page-content #classicly-featured-book {
  overflow-x: hidden;
}
/* line 36, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-content #classicly-featured-book .cover-here {
  margin-top: 30px;
}

/* line 39, ../../../app/stylesheets/partials/_home_page.sass */
#links {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  float: left;
  margin-top: 30px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #links {
  overflow-x: hidden;
}
/* line 44, ../../../app/stylesheets/partials/_home_page.sass */
#links .small {
  margin-top: 17px;
  margin-left: 15px;
}

/* line 49, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-browse {
  width: 190px;
  float: left;
  padding-top: 20px;
  margin-left: 20px;
}
/* line 55, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-browse .row {
  Width: 100%;
  text-align: left;
  margin-bottom: 12px;
  color: #333333;
  font-size: 14px;
  font-family: Helvetica;
}
/* line 62, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-browse .row:hover {
  cursor: pointer;
}
/* line 64, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-browse .row img {
  margin-bottom: 0px;
}
/* line 66, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-browse .row span.kind {
  font-size: 10px;
  color: #999999;
}
/* line 69, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-browse .row .row.links {
  margin-bottom: 6px;
  color: #936845;
}
/* line 72, ../../../app/stylesheets/partials/_home_page.sass */
#home-page-browse p.popular {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

/* line 79, ../../../app/stylesheets/partials/_home_page.sass */
#book-tiles {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  margin-top: 25px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #book-tiles {
  overflow-x: hidden;
}

/* line 87, ../../../app/stylesheets/partials/_home_page.sass */
.cover-frame {
  border: 1px solid #fcfcfc;
  float: left;
  padding: 0px;
}
/* line 91, ../../../app/stylesheets/partials/_home_page.sass */
.cover-frame div.loader {
  width: 100%;
  height: 100%;
  display: block;
  float: left;
}
/* line 96, ../../../app/stylesheets/partials/_home_page.sass */
.cover-frame img {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  vertical-align: sub !important;
  display: none;
}
/* line 101, ../../../app/stylesheets/partials/_home_page.sass */
.cover-frame div {
  float: left;
  border: 1px solid #f6f6f6;
  padding: 0px;
}
/* line 105, ../../../app/stylesheets/partials/_home_page.sass */
.cover-frame div div {
  float: left;
  border: 1px solid #ededed;
  padding: 0px;
}
/* line 109, ../../../app/stylesheets/partials/_home_page.sass */
.cover-frame div div div {
  float: left;
  border: 1px solid #e0e0e0;
  padding: 0px;
}
/* line 113, ../../../app/stylesheets/partials/_home_page.sass */
.cover-frame div div div div {
  border: 1px solid #fcfcfc;
  float: left;
  padding: 0px;
}
/* line 117, ../../../app/stylesheets/partials/_home_page.sass */
.cover-frame div div div div div {
  float: left;
  border: 1px solid #f6f6f6;
  padding: 0px;
}

/* line 123, ../../../app/stylesheets/partials/_home_page.sass */
.mini-cover {
  width: 28px;
  height: 43px;
  display: block;
}
/* line 127, ../../../app/stylesheets/partials/_home_page.sass */
.mini-cover img {
  width: 28px;
  height: 43px;
}

/* line 131, ../../../app/stylesheets/partials/_home_page.sass */
img.mini {
  width: 28px;
  height: 43px;
}

/* line 135, ../../../app/stylesheets/partials/_home_page.sass */
.small-cover {
  width: 62px;
  height: 96px;
  display: block;
}
/* line 139, ../../../app/stylesheets/partials/_home_page.sass */
.small-cover img {
  width: 62px;
  height: 96px;
  display: none;
}

/* line 144, ../../../app/stylesheets/partials/_home_page.sass */
img.small-2 {
  width: 60px;
  height: 93px;
}

/* line 148, ../../../app/stylesheets/partials/_home_page.sass */
.big-cover {
  display: block;
  width: 218px;
  height: 337px;
  float: left;
  display: none;
}

/* line 155, ../../../app/stylesheets/partials/_home_page.sass */
img.big {
  width: 218px;
  height: 337px;
}

/* line 159, ../../../app/stylesheets/partials/_home_page.sass */
img.medium {
  width: 132px;
  height: 204px;
}

/* line 5, ../../../app/stylesheets/partials/_buttons.scss */
.green {
  background-color: #69a846;
}

/* line 8, ../../../app/stylesheets/partials/_buttons.scss */
.red {
  background-color: #ad485a;
}

/* line 12, ../../../app/stylesheets/partials/_buttons.scss */
.brown {
  background-color: #c9af87;
}

/* line 15, ../../../app/stylesheets/partials/_buttons.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 21, ../../../app/stylesheets/partials/_buttons.scss */
a.button.kiss {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0;
  overflow: hidden;
  padding: 1px;
  text-decoration: none;
  vertical-align: middle;
  width: auto !important;
}

/* line 33, ../../../app/stylesheets/partials/_buttons.scss */
a.button.kiss span {
  border-radius: 5px 5px 5px 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  padding: 12px 18px;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: auto !important;
}

/* line 1, ../../../app/stylesheets/partials/_decos.scss */
.cover-frame {
  border: 1px solid #fcfcfc;
  float: left;
  padding: 0px;
}
/* line 5, ../../../app/stylesheets/partials/_decos.scss */
.cover-frame img {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  vertical-align: sub !important;
}
/* line 10, ../../../app/stylesheets/partials/_decos.scss */
.cover-frame div {
  float: left;
  border: 1px solid #f6f6f6;
  padding: 0px;
}
/* line 14, ../../../app/stylesheets/partials/_decos.scss */
.cover-frame div div {
  float: left;
  border: 1px solid #ededed;
  padding: 0px;
}
/* line 18, ../../../app/stylesheets/partials/_decos.scss */
.cover-frame div div div {
  float: left;
  border: 1px solid #e0e0e0;
  padding: 0px;
}
/* line 22, ../../../app/stylesheets/partials/_decos.scss */
.cover-frame div div div div {
  border: 1px solid #fcfcfc;
  float: left;
  padding: 0px;
}
/* line 26, ../../../app/stylesheets/partials/_decos.scss */
.cover-frame div div div div div {
  float: left;
  border: 1px solid #f6f6f6;
  padding: 0px;
}

/* line 3, ../../../app/stylesheets/partials/_covers.sass */
.cover-here {
  border: 1px solid #333333;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}
/* line 9, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.tiny {
  width: 48px;
  height: 74px;
}
/* line 12, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.tiny img {
  width: 48px;
  height: 74px;
}
/* line 15, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.tiny .loader {
  margin-left: 12px;
  margin-top: 25px;
}
/* line 19, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.small {
  width: 98px;
  height: 151px;
}
/* line 22, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.small img {
  width: 98px;
  height: 151px;
}
/* line 25, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.small .loader {
  margin-left: 40px;
  margin-top: 63px;
}
/* line 29, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.medium {
  width: 148px;
  height: 229px;
}
/* line 32, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.medium img {
  width: 148px;
  height: 229px;
}
/* line 35, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.medium .loader {
  margin-left: 60px;
  margin-top: 105px;
}
/* line 39, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.large {
  width: 198px;
  height: 306px;
}
/* line 42, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.large img {
  width: 198px;
  height: 306px;
}
/* line 45, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.large .loader {
  margin-top: 140px;
  margin-left: 90px;
}
/* line 49, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.huge {
  width: 248px;
  height: 383px;
}
/* line 52, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.huge img {
  width: 248px;
  height: 383px;
}
/* line 55, ../../../app/stylesheets/partials/_covers.sass */
.cover-here.huge .loader {
  margin-top: 180px;
  margin-left: 112px;
}
/* line 59, ../../../app/stylesheets/partials/_covers.sass */
.cover-here img {
  display: none;
  float: left;
}
/* line 62, ../../../app/stylesheets/partials/_covers.sass */
.cover-here .loader {
  width: 24px;
  height: 24px;
  display: block;
  background: url("/images/ajax-loader.gif");
}

/* line 27, ../../../app/stylesheets/screen.scss */
body.bp {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}
/* line 65, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 67, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 68, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 70, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 71, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 72, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 73, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 77, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:visited {
  color: #000066;
}
/* line 21, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:focus {
  color: black;
}
/* line 24, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:hover {
  color: black;
}
/* line 27, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
body.bp a:active {
  color: #cc0099;
}
/* line 78, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 79, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong {
  font-weight: bold;
}
/* line 80, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em {
  font-style: italic;
}
/* line 81, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 82, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 83, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 84, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 85, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 86, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 87, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 88, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 89, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 90, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 91, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 92, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 94, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 95, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 96, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 97, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 98, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 99, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 100, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 101, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 102, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 103, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 8, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background: url('/images/grid.png?1305209214');
}
/* line 4, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a {
  color: #8a1f11;
}
/* line 6, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 10, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 12, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 14, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 16, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}
/* line 34, ../../../app/stylesheets/screen.scss */
body.bp #content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 31, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 59, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 50, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 46, ../../../app/stylesheets/screen.scss */
body.two-col #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 48, ../../../app/stylesheets/screen.scss */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 50, ../../../app/stylesheets/screen.scss */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 54, ../../../app/stylesheets/screen.scss */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 138, ../../../ruby/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}
