%p
  %label{:for => "render_book"} Render book:
  %button#render_book Render book
#rendering_status
  Not yet.
%p
  pages done:
  %span#pages_done 0
#reader_box
  .text_box  
-# #render
-#   #inner

:javascript
  var id = #{@book_id};
