%p
  %label{:for => "render_book"} Render book:
  %button#render_book Render book

#rendering_status
  Not yet.

%p
  pages done:
  %span#pages_done 0
#render
  #inner

:javascript
  var ids = #{@book_ids.to_json};
  var inserter = function() {
    $('#rendering_status').html('Rendering status: finished with the book.');
  }
  
  // setTimeout('inserter()', 5000);