#reader
  = simple_format(@book_page.content.gsub("\n", "\n\n"), :class => 'new_paragraph')
  
- content_for :scripts do
  :javascript
    $(function() {
      var book, bookmarkHandler, reader;
      book = new Book(#{@book_page.book.id});
      bookmarkHandler = new BookMarkHandler( $( "#bookmark_tag" ) );
      bookmarkRemoveHandler = new BookmarkRemoveHandler( $( "#bookmark_ribbon" ) );
      reader = new Reader(book, bookmarkHandler, bookmarkRemoveHandler );
    });
