Hey#{ @user.first_name.blank? ? "" : " " + @user.first_name}, sorry to hear you lost your password.
%br
%br
Click here to get a new one:
= link_to "new password", reset_password_url(@user.password_reset_token)
%br
%br
If you did not request a password reset just ignore this email, your password will stay as it is.
%br
%br
Cheers and all the best,
%br
%br
Colin Plamondon
%br
CEO, Classicly