Hey #{@user.first_name}, thanks for signing up!
%br
%br
We really appreciate you being an early adopter, and would love your feedback to help shape the future of the app.
%br
%br
We're preparing to launch a whole bunch of great community features. Profiles, Top Reviews, the Classicly Leaderboard, and the Open Reader. You'll be able to read any book you have on your computer with Classicly - and share those books with a tap.
%br
%br
Which of these features are you most interested? Are there other things you'd like to see before them? We'd love your feedback on how how we can make Classicly the best reading experience on the planet.
%br
%br
Cheers and all the best,
%br
%br
Colin Plamondon
%br
CEO, Classicly
%br
%br
[Not interested in getting newsletter messages from us? Click 
= link_to 'here to unsubscribe.', unsubscribe_url(@user.fb_connect_id)
]
