[Not interested in getting newsletter messages from us? Click 
= link_to 'here to unsubscribe.', unsubscribe_url(:address => @user.email, :token => @user.access_token)
]
%br
%br
Hey #{ @user.first_name.blank? ? "" : " " + @user.first_name}, thanks for signing up!
%br
%br
Classicly is the service powering Free Books and Free Audiobooks, and we massively appreciate you registering.
%br
%br
If you'd like to check out Free Books for Android, the app is available for free from the Google Play store: https://play.google.com/store/apps/details?id=com.spreadsong.freebooks
%br 
%br
And, if you ever forget your password, you can reset from here:
%br
http://www.classicly.com/reset_password
%br
%br
Thanks so much for using the app, and for your support!
%br
%br
Cheers and all the best,
%br
%br
Colin Plamondon
%br
CEO, Classicly