Hey #{ @user.first_name.blank? ? "" : " " + @user.first_name}, thanks for signing up!
%br
%br
Classicly is the service powering Free Books and Free Audiobooks, and we massively appreciate you registering. We'd love your feedback to help shape the future of the app: 
%br
%br
https://www.popsurvey.com/s/6qadnd
%br 
%br
And, if you ever forget your password, you can reset from here:
%br
http://www.classicly.com/reset_password
%br
%br
Thanks so much for using the app, and for your support!
%br
%br
Cheers and all the best,
%br
%br
Colin Plamondon
%br
CEO, Classicly
%br
%br
[Not interested in getting newsletter messages from us? Click 
= link_to 'here to unsubscribe.', unsubscribe_url(:address => @user.email, :token => @user.access_token)
]
