#unsubscribe-page
  - if @added_to_blacklist == true
    %h2
      You have been unsubscribed! From now on you will receive NO further mailings from us.
  - else
    %h2
      Hi #{@login.first_name}, do you really want to unsubscribe?
    = link_to 'Unsubscribe me from mailing list', unsubscribe_url(:address => @login.email, :token =>  @login.access_token, :confirm => 'yes')