#blog_header #intro{
  padding-top: 20px;
  @include column(18);
}

#blog_header #logo{
  padding-top: 20px;
  @include column(6, true);
  img{
    margin-left: 62px;
  }
}


#blog_top_divider{
  @include column(24,true);
  background-color: #F3ECDE;
  height: 45px;
    p{
      padding-left: 10px;
      padding-top: 10px;
    }
}

.posts{
  @include column(16, true);
  
  .show-post .title{
    color: #936845;
    font-size: 28px;
    span.classicly{
      color: #43260F;
      font-weight: bold;
    }
  }

  .show-post .content{
    font-size: 14px;
  }
}
