#blog-page
  img
    border: none
    margin: 0px 20px 10px 0px

  a
    &.rss-feed
      :font-size 16px
      :font-weight bold
      :padding 2px 5px
    &.highlight-link
      :background none repeat scroll 0 0 #FFFFD7
      :color #333333
      :float left
      :margin-bottom 6px
      :text-decoration none
  .about-the-blog
    +column(18, true)
    p
      +column(8, true)
      +append(10)
      :font-size 12px
    h1
      font-family: 'museo-slab-1', 'museo-slab-2', arial, serif
      :font-weight normal
      font-size: 40px
      color: #333333
      background: #ffff66
      :padding 0
      :margin 0
        :bottom 5px
      :display block
      :float left
    h4
      :color #444444
    iframe
      :margin
        :bottom 20px

