#book-page
  margin-top: 30px
  text-align: left
  color: #333

  .cover-column
    text-align: center
    margin-left: 45px
    a.btn
      width: 70%
      text-align: center
      display: block
      margin: 0 auto
    .cover
      margin-bottom: 0px
      height: 239px
      float: none
      img
        display: block
        float: none
        margin: 0px auto

    #my-rating
      width: 100%
      #blank-stars
        height: 19px
        display: none
      #rating-stars
        padding-left: 34px
    #read-online-btn
      margin-top: 15px
    #download-as
      margin-top: 15px
      .text
        margin-bottom: 15px
      .download-button
        margin-bottom: 6px

  .book-column
    padding-top: 4px
    margin-left: 17px

    #book-title
      margin-bottom: -10px
      h1
        font-size: 22px
    #book-author
      margin-bottom: 8px
      h2
        font: normal 14px/14px 'Helvetica'
        margin-bottom: 0
    #book-rating
      margin-bottom: 25px
      #reviews-count
        display: inline-block
        margin-left: 10px

    .like-send
      margin: 20px 0 30px 0

    p
      +column(11)
      font-size: 16px
    
    p.highlight
      +column(11)
      padding: 10px
      font-size: 24px
      line-height: 30px
      color: #333
      background-color: #f4f2bb

    #they-noted
      color: #999999
      font-size: 14px

    #read-online-button-container
      margin-bottom: 20px


    #reviews-rating-count, #greeting, #review-box, #rate, #submit-review 
      +column(12, true)
      font-size: 14px

    .explanation
      :color #999999
      :font-size 14px



    #write-review
      text-align: right

    #greeting
      .profile-pic
        +column(2)

        img
          border: 1px solid #333

      .text
        +column(10, true)
        margin-left: -12px
        height: 56px

        p
          margin-top: 36px


    #rate
      margin-top: 7px

      .text
        +column(3)

      .stars
        +column(9, true)

    #submit-review
      margin-top: 14px

      font-size: 16px

    #review-box
      textarea
        background: url(/images/new_reviews_editor.png)
        width: 400px
        height: 89px
        border: none
        resize: none
        padding: 7px 0px 0px 7px

  #reviews
    margin-top: 21px

    .individual_review
      +column(12, true)
      padding: 10px 0px 0px 10px
      margin-top: 10px

      &.striped
        background-color: #f2ede6

      .profile-pic
        +column(2)

        img
          border: 1px solid #333

      .profile-name
        +column(10, true)
        margin-left: -15px
        padding-top: 5px

        p
          line-height: 1px
          font-size: 12px

          &.name
            color: #333
            font-weight: bold
            font-size: 14px
            margin-bottom: 15px

          &.date
            margin-bottom: 15px

        .rating
          margin-top: 2px

      .review-content
        margin-top: 10px

        p
          margin: 0px 0px 5px 0px
