#book-page
  +column(18, true)

  margin:
    top: 30px
  text-align: left

  .cover-column
    +column(4)
    +append(1)

    color: #979797
    h1
      :font-size 16px
      :font-weight bold
      :margin 0
      :padding 0
      :float left
      :width 100%
    h4
      :font-size 14px
      :color #333333
      font-size: 16px
      font-weight: bold

    #current-book
      margin-bottom: 0px

    .buttons
      span.link_info
        display: block
        color: #979797

      a, span.link_info
        margin-bottom: 15px



  .book-column
    +column(12, true)

    h1
      :font-size 22px
      :margin 0
      :padding 0

    h2
      :font-size 14px
      :color #333333
      margin-bottom: 20px

      a
        :text-decoration none
        :color #333333
        :background #ffffd7
        &:hover
          :background #ffff66
    .like-send
      margin-top: 20px

    p
      +column(11)
      :font-size #333333
      :font-size 14px

    #book-rating, #reviews-rating-count, #greeting, #review-box, #rate, #submit-review 
      +column(12, true)
      font-size: 14px

    p.explanation
      +column(7, true)
      :color #999999
      :font-size 14px
          
      &.first
        margin-top: 10px

    #reviews-rating-count
      margin-bottom: 10px
      margin-top: 5px
      #counts
        +column(4)

      #write-review
        +column(8, true)
        text-align: right
        a:focus
          color: #333

    #greeting
      .profile-pic
        +column(2)

        img
          border: 1px solid #333

      .text
        +column(10, true)
        margin-left: -12px
        height: 56px

        p
          margin-top: 36px


    #rate
      margin-top: 7px

      .text
        +column(3)

      .stars
        +column(9, true)

    #submit-review
      margin-top: 14px

      font-size: 16px

    #review-box
      textarea
        background: url(/images/new_reviews_editor.png)
        width: 400px
        height: 89px
        border: none
        resize: none
        padding: 7px 0px 0px 7px

    #reviews
      margin-top: 21px

      .individual_review
        +column(12, true)
        padding: 10px 0px 0px 10px
        margin-top: 10px

        &.striped
          background-color: #f2ede6

        .profile-pic
          +column(2)

          img
            border: 1px solid #333

        .profile-name
          +column(10, true)
          margin-left: -15px
          padding-top: 5px

          p
            line-height: 1px
            font-size: 12px

            &.name
              color: #333
              font-weight: bold
              font-size: 14px
              margin-bottom: 15px

            &.date
              margin-bottom: 15px

          .rating
            margin-top: 2px

        .review-content
          margin-top: 10px

          p
            margin: 0px 0px 5px 0px
