@mixin cover
  :display block
  :float left
  :padding 0
  :margin 0
    :top 5px
    :bottom 25px

@mixin mini
  :width 25px
  :height 37px
$miniH: 37

@mixin tiny
  :width 48px
  :height 74px
$tinyH: 74

@mixin small
  :width 98px
  :height 151px

$smallH: 151

@mixin medium
  :width 148px
  :height 229px
$mediumH: 226

@mixin large
  :width 198px
  :height 306px
$largeH: 306

@mixin huge
  :width 248px
  :height 383px
$hugeH: 383


a.no-underline
  :text-decoration none !important
  :cursor pointer

.collection-here , .collection-with-title-here
  .text
    :float left
    :width 100%
    :margin-top -34px
    :padding 0
    :display none
    a
      text-decoration: none
    span.title
      :font-size 14px
      :color #333333
      :padding 0
    span.type
      :font-size 10px
      :color #999999
      :padding 0
      :margin
        :left 5px

.cover
  @include cover
  &:hover
    :cursor pointer
    span.title
      :background #ffff66
  &.medium
    :height $mediumH+20px
  img
    @include medium
    :float left
    :border 1px solid #333333 
  &.tiny
    :height $tinyH+20px
    img
      @include tiny
      :float left
  &.small
    :height $smallH+20px
    img
      @include small
      :float left
      :border 1px solid #333333
  &.medium
    :height $mediumH+20px
    img
      @include medium
      :float left
      :border 1px solid #333333
  &.huge
    :height $hugeH+20px
    img
      @include huge
      :float left
      :border 1px solid #333333
  .text
    :float left
    :width 100%
    :margin 0
    :padding 0
    span.title
      :font-size 14px
      :color #333333
      :padding 0
    span.type
      :font-size 10px
      :color #999999
      :padding 0
      :margin
        :left 5px

.cover-here, .cover-with-title-here
  @include cover
  &.tiny
    :height $tinyH+20px
    img, .stable
      @include tiny
    .spinner
      :margin
        :left 12px
        :top 25px
  &.mini
    :height $miniH+20px
    img, .stable
      @include mini
    .stable
      margin-right: 2px
    .spinner
      :margin
        :left 7px
        :top 17px
  &.small
    :height $smallH+20px
    img, .stable
      @include small
    .spinner
      :margin
        :left 40px
        :top 63px
  &.medium
    :height $mediumH+20px
    img, .stable
      @include medium
    .spinner
      :margin
        :left 60px
        :top 105px
  &.large
    :height $largeH+20px
    img, .stable
      @include large
    .spinner
      :margin
        :top 140px
        :left 90px
  &.huge
    :height $hugeH+20px
    img, .stable
      @include huge
    .spinner
      :margin
        :top 180px
        :left 112px
  .stable
    :border 1px solid #333333
  .text
    :float left
    :width 100%
    :margin 0
    :padding 0
    :display none
    span.title
      :font-size 14px
      :color #333333
      :padding 0
    span.type
      :font-size 10px
      :color #999999
      :padding 0
      :margin
        :left 5px
    
  .spinner
    width: 24px
    height: 24px
    display: block
    background: url("/images/ajax-loader.gif")
  img
    :float left
    :display none

.cover-with-title-here
  :padding 10px
    :bottom 3px
    :top 3px
  :margin
    :left -10px
  :width 100%
  &:hover
    :cursor pointer
    span.title
      :background #ffff66
