/* ----------------------------------------------------------*/
/* ---------->>> COVERS MIXINS<<<----------------------------*/
/* ----------------------------------------------------------*/
@mixin cover
  :display block
  :float left
  :padding 0
  :margin 0
    :top 5px
    :bottom 25px

@mixin highlight_book_title
  &:hover
    cursor: pointer
    span.title
      background: #ffff66

$miniH: 37
@mixin mini
  width: 25px
  height: $miniH + 0px


$tinyH: 74
@mixin tiny
  width: 48px
  height: $tinyH + 0px


$smallH: 151
@mixin small
  width: 98px
  height: $smallH + 0px

$mediumH: 229
@mixin medium
  width: 148px
  height: $mediumH + 0px

@mixin large
  :width 198px
  :height 306px
$largeH: 306

$hugeH: 383
@mixin huge
  width: 248px
  height: $hugeH + 0px

@mixin book_or_collection_title
  .text span.title
    font-size: 14px
    color: #333333
    padding: 0

@mixin cover_block_type
  .text span.type
    font-size: 10px
    color: #999999
    margin-left: 5px

/* ----------------------------------------------------------*/
/* ---------->>> COLLECTION COVERS IN RIGHT NAV<<<-----------*/
/* ----------------------------------------------------------*/
.collection-with-title-here
  @include highlight_book_title
  @include book_or_collection_title
  @include cover_block_type
  // assign some padding between each minicover
  .cover
    margin-right: 4px
  .text
    margin-top: -34px

.collection-with-title-here, .cover
  .text
    float: left
    width: 100%
/* ---------------------------------------------------*/
/* ---------->>> INDIVIDUAL BOOK COVERS <<<-----------*/
/* ---------------------------------------------------*/
.cover
  @include cover
  @include highlight_book_title
  @include book_or_collection_title
  @include cover_block_type
  img
    float: left
    border: 1px solid #333333

  &.mini
    :height $miniH+20px
    img
      @include mini

  &.tiny
    :height $tinyH+20px
    img
      @include tiny
      
  &.small
    :height $smallH+20px
    img
      @include small
      
  &.medium
    :height $mediumH+20px
    img
      @include medium

  &.huge
    :height $hugeH+20px
    img
      @include huge

  .text
    margin-top: 5px
