a.classicly-link
  color: #333
  text-decoration: none
  background: none repeat scroll 0 0 #ffffd7

  &:hover
    cursor: pointer
    background: none repeat scroll 0 0 #ff6
    color: #333

.tooltip
  display: none
  background-color: #ffa
  border: 1px solid #cc9
  padding: 3px
  font-size: 13px
  -moz-box-shadow: 2px 2px 11px #666
  -webkit-box-shadow: 2px 2px 11px #666

$mini-cover-height: 37

ul.ui-autocomplete
  min-width: 365px
  max-width: 365px
  cursor: pointer

  li.ui-menu-item
    padding-right: 10px
    overflow: hidden
    &.ui-state-active
      color: #195596
    a
      span.type
        padding-left: 5px
        color: #9999ae

      &:hover, &#ui-active-menuitem
        color: #195596 !important
        span.type
          :color #538dc2

    .with-cover
      :height 39px
      img.micro-cover
        :width 23px
        :height 37px
        :float left
        :margin-right 5px
      .text
        b
          :text-decoration underline
        :display inline-block
        :float left
        :width 84%


.star-on, .star-off
  float: left
  width: 19px
  height: 16px
  text-indent: -999em
  display: block
  background: transparent
  overflow: hidden
  background: url(/images/star-sprite-transparent.png) no-repeat 0 -16px

.star-on
  background-position: 0 -16px !important

.star-off
  background-position: 0 0px !important
