$top-nav-bg: #C9AF87;
body{
	background-color: white;
}
.top_nav{
	padding-top: 12px;
  @include column(24, true);
	background: $top-nav-bg;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	#logo{
		@include column(5);
	}
	#searchbox{
		@include column(6);
		input{
			margin-top: 2px;
			height: 24px;
			width: 225px;
			color: #d2d2d3;
			font-size: 12px;
			font-family: 'helvetica';
		}
	}
	#navigator{
		@include column(13, true);
		text-align: left;
		ul{
			list-style: none;
			color: white;
			font-size: 17px;
			font-weight: regular;
			margin-top: 9px;
			font-family: 'helvetica';
			li{
				display:inline;
				margin-left: 14px;
			}
		}
	}
}