#main-content
  padding-left: 15px

$top-nav-bg: #c9af87

body
  +blueprint-typography(true)
  background-color: white
  :font-family 'Helvetica', 'Arial', 'Sans-serif'

@mixin content-container
  +column(18, true)
  :margin
    :top 30px
  :text-align left

@mixin highlight
  :text-decoration none
  :color #333333
  :background #ffffd7
  &:hover 
    :background #ffff66
    :cursor pointer
a.highlight
  :text-decoration none
  :color #333333
  :background #ffffd7
  &:hover 
    :color #333333
    :background #ffff66
    :cursor pointer

#header
  :float left
  :width 100%
  :text-align center
  :float left
  :padding 0
  .wrap
    :width 100%
    :display block
    :height 52px
    :text-align center
    background: $top-nav-bg
    .top
      :width 960px
      :margin 0 auto
      :height 30px
      #logo
        :float left
        +column(5)
        img
          :margin
            :top 7px
      #nav
        +column(12)
        text-align: left
        :margin
          :top 14px
        ul
          list-style: none
          li
            :float left
            :display inline
            a
              :color #442507
              :font-size 14px
              :font-weight bold
              :font-family 'helvetica'
              :display block
              :width 106px
              :height 26px
              :float left
              :text-decoration none
              :background url(/images/nav-bg.png)
              :text-align center
              :margin
                :right 6px
              :padding
                :top 5px
              &:hover
                :cursor pointer
                :opacity .8

          .right
            :background url('/images/header-nav-right.png')
            :height 35px
            :width 12px
            :display block
            :float left

    .bottom
      :float left
      :display block
      :width 100%
      :height 6px
      :background url(/images/shadow-top.png) repeat-x
      :margin 0
        :top -5px
      :padding 0
    #search
      +column(5, true)
      :margin
        :top 17px
        :left 65px
      form
        :background white
        height: 22px
        border: 1px solid #ab9573
      input
        margin-top: 2px
        color: #d2d2d3
        font-size: 12px
        font-family: 'helvetica'
        :border 0
        :width 150px
        :height 12px
        :outline none
        :float left
        :margin
          :top 5px
        :padding
          :left 3px
          :top 3px
        &:focus
          :color #333333
      button
        :width 25px
        :height 16px
        :display block
        :background url(/images/search-button.png)
        :border 0
        :float right
        :margin
          :top 1px
        &:hover
          :cursor pointer
   
#bottom-shadow
  :float left
  :display block
  :width 100%
  :height 9px
  :background url(/images/shadow-bottom.png) repeat-x
  :margin
    :top 20px
  :padding 0

#footer
  :background #c9af87
  :width 100%
  :float left
  :padding
    :top 10px
    :bottom 20px
  :text-align center
  .centering
    :margin 0 auto
    :width 980px
    :height 320px
    :padding 10px
    :border 1px solid #bb9d79
    :background #cab08b
  #collection-names-list
    :margin 0 auto
    :width 800px
    :padding 10px
      :bottom 0px
    :background 1px solid #bb9d79
    :font-family 'helvetica'
    :font-size 17px
    img
      :float left
    .collections
      :width 830px
      :display block
      :float left
      :padding
        :left 50px
      :border
        :left 1px solid #866a47
        :right 1px solid #866a47
    .column
      :float left
      :width 190px
    a
      :color #FFF
      :text-decoration none
      +column(5)
      :text-shadow 0px 1px #555
      &:hover
        :text-shadow 0 0 15px #ffffff
  h4
    :width 201px
    :height 24px
    :display block
    :padding 0
    :margin 0 auto
    :color white
    :font-weight bold
    :text-align center
    :background url('/images/footer-header-bg.png')
    font-family: "museo-slab-1", "museo-slab-2"
  #about
    :width 340px
    :float left
    :height 100%
    .bg
      :background url('/images/footer-about-bg.png')
      :width 317px
      :height 272px
      :display block
      p
        :padding
          :left 25px
          :right 25px
          :top 25px

        :text-align left
  #applications
    :width 300px
    :height 100%
    :float left
    .app
      :text-align left
      :float left
      :width 300px
      h5
        :color #43260f
        :font-size 18px
        :margin 0
          :top 20px
        :padding 0
        :text-indent 5px
      span
        :color #43260f
        :font-size 12px
        :text-indent 5px
        :display block
        :width 100%
      img.link
        :margin
          :top 5px
      img.icon
        :float left
        :margin 5px
          :top 17px
  #connect
    :width 320px
    :margin 0
    :padding 0
    :float left
    a
      img
        &:hover
          :opacity .8
  #copyright
    :clear left
    :margin-top 5px
    :font-size 17px
      

.ui-autocomplete

#right-column
  :width 190px
  :float left
  padding-top: 20px
  :margin
    :left 20px
  .social
    :text-align left
    // google+
    div
      :float left !important
      :margin 0
        :bottom 10px
      :padding 0
    iframe
      :float left
      &.fb_ltr
        :margin
          :bottom 10px
      &.twitter-follow-button
        :margin
          :top 5px
          :bottom 5px
  h4
    :font-size 18px
    :font-weight bold
    :margin
      :top 20px
      :bottom 0
    :padding 0
  .row
    :Width 100%
    text-align: left
    margin-bottom: 12px
    color: #333
    font-size: 14px
    font-family: Helvetica
    &:hover
      :cursor pointer
    img
      margin-bottom: 0px
    span.kind
      font-size: 10px
      color: #999
    .links
      a
        margin-bottom: 6px
        color: #333333
        :background #ffffd7
        :text-decoration none
        :float left
        &:hover
          :background #ffff66
          :cursor pointer
  p.popular
    font-size: 16px
    font-weight: bold
    :margin 0
    :padding 0
      :bottom 10px


#bottom-notification-bar
  :width 100%
  :height 90px
  :background black
  :position fixed
  :bottom 0
  :text-align center
  .content
    :margin 0 auto
    :width 960px
    :text-align left
    :padding
      :top 15px
    .left
      +column(5)
      +prepend(2)
      span
        :width 100%
        :display block
        :color white
        :font-size 14px
    .center
      +column(5)
      +prepend(1)
      span
        :width 100%
        :display block
        :color white
        :font-size 16px
        :font-weight bold
        :padding
          :top 20px
    .right
      +column(8, true)
      +prepend(2)
      a
        :margin
          :top 10px

.like-send
  +column(14)
  :height 30px
  :display block
