#main-content
  padding-left: 15px

$top-nav-bg: #c9af87

body
  background-color: white

.top_nav
  height: 40px
  +column(24, true)
  background: $top-nav-bg
  border-radius: 0px 0px 10px 10px
  -moz-border-radius: 0px 0px 10px 10px
  -webkit-border-radius: 0px 0px 10px 10px
  #logo
    :float left
    +column(3)
    :margin
      :top 4px
    img
      :margin
        :left 30px
  #searchbox
    +column(6)
    :margin
      :top 4px
      :left 30px
    input
      margin-top: 2px
      height: 22px
      width: 225px
      color: #d2d2d3
      font-size: 12px
      font-family: 'helvetica'
      border: 1px solid #ab9573
  #navigator
    +column(13, true)
    text-align: left
    ul
      list-style: none
      color: white
      font-size: 17px
      font-weight: regular
      margin-top: 9px
      font-family: 'helvetica'
      li
        display: inline
        margin-left: 14px
        &.blog
          :float right
#footer
  :background #c9af87
  :width 100%
  :float left
  :border-top 1px solid #bc9f7a
  :padding
    :top 10px
    :bottom 20px
  :text-align center
  :margin
    :top 20px
  .centering
    :margin 0 auto
    :width 980px
    :height 320px
    :padding 10px
    :border 1px solid #bb9d79
    :background #cab08b
    
  h4
    :width 201px
    :height 24px
    :display block
    :padding 0
    :margin 0 auto
    :color white
    :font-weight bold
    :text-align center
    :background url('/images/footer-header-bg.png')
    font-family: "museo-slab-1", "museo-slab-2"
  .about
    :width 340px
    :float left
    :height 100%
    .bg
      :background url('/images/footer-about-bg.png')
      :width 317px
      :height 272px
      :display block
      p
        :padding
          :left 25px
          :right 25px
          :top 25px

        :text-align left
  .applications
    :width 300px
    :height 100%
    :float left
    .app
      :text-align left
      :float left
      :width 300px
      :margin
        :left 10px
        :right 10px
      h5
        :color #43260f
        :font-size 18px
        :margin 0
          :top 20px
        :padding 0
      span
        :color #43260f
        :font-size 12px
        :display block
        :Width 100%
      img.link
        :margin
          :top 5px
      img.icon
        :float left
        :margin
          :top 10px
  .connect
    :width 320px
    :margin 0
    :padding 0
    :float left
    a
      img
        &:hover
          :opacity .8
      


