#library-page
  margin-top: 30px
  #library-container
    width: 654px
    height: 748px
    background: url(/images/library-preview.png)
    position: relative

/* -------------------------------------------------------------------------*/
/* ---------->>> LIBRARY WITH CONTENT<<<------------------------------------*/
/* -------------------------------------------------------------------------*/

  /* -------------------------------------------------------------------------*/
  /* ---------->>> PROFILE IMAGE AND PROFILE DATA<<<--------------------------*/
  /* -------------------------------------------------------------------------*/
  #user-profile
    .photo
      :margin-top 0px
      :width 112px
      :background url('/images/profile-frame.png')
      :display block
      img
        :width 100px
        :margin 6px
    .name
      margin-top: 5px
      font-weight: bold

    span
      :width 100%
      :display block
      :float left

        
/* -------------------------------------------------------------------------*/
/* ---------->>> LIBRARY WITH THE CONNECT WITH FACEBOOK BUTTON<<<-----------*/
/* -------------------------------------------------------------------------*/
#library-container
  width: 654px
  height: 748px
  background: url(/images/library-preview.png)
  position: relative

  #container
    :left 145px
    :top 258px
    :position absolute
    :height 160px
    :width 430px
    :text-align center
    
    #copy
      :font-family 'Helvetica', 'Arial', 'Sans-serif'
      :font-weight bold
      :font-size 19px
      :letter-spacing 1px
      :margin-top 15px
      :margin-bottom 20px
      :line-height 1.1em
      
    #browse
      :display block
      :font-size 9px
      :margin-top 15px
      :color #88A6D6
      :text-decoration none
  
    #register-button
      :background-color #FF030D
    
      :-moz-border-radius 0.4em 0.4em 0.4em 0.4em
      :-moz-box-shadow 0 1px 3px rgba(0, 0, 0, 0.75)
      :-webkit-border-radius 0.4em 0.4em 0.4em 0.4em
      :-webkit-box-shadow 0 1px 3px rgba(0, 0, 0, 0.75)
      :border-radius 5px
    
      :box-shadow 0 1px 3px rgba(0,0,0,0.75)
      :text-shadow 0 -1px 1px rgba(0,0,0,0.3)
    
      :background url(/images/conversion-button-shadow.png) repeat-x scroll 0 0 #222222
      :background-color #CC1100
      :border none
      :color #FFFFFF
      :cursor pointer
      :display inline-block
      font: bold 20px "lucida grande","lucida sans unicode",arial,sans-serif 
      :line-height 1
      :margin 0
      :overflow visible
      :padding 0.6em 1.3em
      :text-decoration none
      :text-shadow 0 -1px 1px rgba(0, 0, 0, 0.3)
      :vertical-align baseline
      :*vertical-align middle
      :width auto
    
      &:hover
        :-moz-box-shadow 0 1px 3px rgba(0,0,0,0.75)
        :-webkit-box-shadow 0 1px 3px rgba(0,0,0,0.75)
        :box-shadow 0 1px 3px rgba(0,0,0,0.75)
        :background-color #991100
      &:active
        :top 1px
        
/* -------------------------------------------------------------------------*/
/* ---------->>> EACH INDIVIDUAL BOOK STYLE <<<-----------------------------*/
/* -------------------------------------------------------------------------*/
.book
  :clear left
  :height 190px
  h4
    :font-size 22px
    :color #333333
    :font-weight normal
    :padding 0
    :margin 0
  h5
    :font-size 16px
    :font-weight normal
    :color #333333
    

