
// Version 1
//#mobile-app-upsell-banner
//  background-color: #006FAD
//  text-align: center
//  padding: 10px 0px 10px 0px
//  #upsell-banner-click-area
//    display: block
//    margin: 0 auto
//    width: 580px
//    #upsell-app-logo
//      float: left
//      height: 72px
//    #upsell-text
//      float: right
//      vertical-align: middle
//      line-height: 72px
//      color: white
//      font-size: 24px

// Version 2
#mobile-app-upsell-banner
  background-color: #006FAD
  text-align: center
  padding: 10px 0px 10px 0px
  #upsell-banner-click-area
    display: block
    margin: 0 auto
    width: 470px
    #upsell-app-logo
      float: left
      height: 72px
    #upsell-text
      float: right
      vertical-align: middle
      line-height: 72px
      color: white
      font-size: 24px