nav.pagination
  +column(16, true)
  text-align: center
  
  span
    :display block
    :float left
    :height 50px
  
  span.prev
    a
      :width 215px
      :height 28px
      :display block
      :background url(/images/pagination-previous.png)
  
  span.next
    :float right
    :margin-right 35px
    a
      :width 215px
      :height 28px
      :display block
      :background url(/images/pagination-next.png)
      :float right
      
  span.full-width
    +column(16, true)
    a
      :margin 0 auto
      :width 488px
      :height 28px
      :display block
      :background url(/images/pagination-next-full-width.png)

  span.next_with_full_width
    +column(16, true)

  div#page_numbers
    +column(16, true)
    :height 60px
    :text-align center
    :margin 5px
    :font-size 16px
    :color #999999    
    .wrapper
      :width 470px
      :height 60px
      :margin 0 auto
      span
        :margin 5px
        a
          :background-color #FFFFD7
          :color #333333