a.btn
  text-decoration: none

#collection-page, .quote-list-page, .collection-book-list-page
  .title
    margin-bottom: 5px
    margin-top: 75px

  a.title
    margin-top: 0px

    h1
      margin-bottom: 0px

  .adsense
    margin-bottom: 20px

  .row.quotes-and-books-buttons
    margin-bottom: 20px
    margin-top: 20px

  .quote
    color: #333
    font-weight: bold
    font-size: 14px
    margin-bottom: 15px

  .separator
    border-bottom: 2px solid #CCC


