.more-quotes-btn a, .more-books-btn a
  float: right
  color: white

.more-books-btn.row
  margin-left: -60px

/* These apply for all the collection listings of quotes and books*/
#collection-page, .quote-list-page, .collection-book-list-page
  .title
    margin-bottom: 5px
    margin-top: 75px

  a.title
    margin-top: 0px

    h1
      margin-bottom: 0px

  .adsense
    margin-bottom: 20px

  .quotes-in-author-page
    margin-bottom: 15px

  .quote
    a
      margin-bottom: 15px
      color: #333
      font: normal 18px/32px 'helvetica',verdana,serif

  .separator
    border-bottom: 2px solid #CCC

  



