#reviews_admin
  = paginate @reviews
  .clear
  - unless @reviews.blank?
    %table
      %thead
        %tr
          %th.name Name
          %th Reviewer
          %th Content
          %th Rating
          %th Editor's Choice
          %th
      %tbody
        = render @reviews
  - else
    %p No review found against the criteria!
:javascript
  $(function(){
    $('table tr:nth-child(odd)').addClass('alternate');
  });
