body {
  margin: 0;
  padding: 0;
  background: #f6f2ed;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

.container_12 {
  margin: 0 auto; }

a {
  border: none; }
  a img {
    border: none; }

#header {
  width: 100%;
  height: 87px;
  background: #c9af87;
  float: left;
  text-align: left;
  border-bottom: 1px solid #bc9e7a; }
  #header a#logo {
    display: block;
    width: 165px;
    height: 41px;
    background: url("/images/logo.png");
    margin: 0;
      margin-top: 20px;
    padding: 0;
    float: left; }
    #header a#logo:hover {
      cursor: pointer; }
  #header h2 {
    color: white;
    float: left;
    font-weight: normal;
    font-size: 12px;
    text-align: right;
    font-style: italic;
    line-height: 11px;
    margin: 0;
      margin-top: -5px;
      margin-left: 30px; }
  #header div.search-bg {
    width: 402px;
    height: 40px;
    background: url("/images/search.png");
    margin-top: 25px; }
    #header div.search-bg input {
      font-size: 22px;
      height: 20px;
      border: none;
      color: #cbb18f;
      background: none;
      padding-left: 40px;
      padding-top: 25px;
      font-style: italic; }
      #header div.search-bg input:focus {
        border: none;
        outline-width: 0;
        font-style: normal; }
  #header #nav a {
    color: #f5f1e9;
    text-decoration: none;
    display: block;
    float: left;
    padding-top: 40px;
    padding-right: 20px; }
    #header #nav a.selected {
      color: #4d2c0c; }
    #header #nav a:hover {
      color: #4d2c0c; }
  #header #nav #user_welcome img {
    border: 2px solid #bc9e7a;
    height: 37px;
    margin-top: 28px;
    width: 37px; }
  #header #nav #user_welcome .name {
    color: #ededed;
    display: inline;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-right: 74px;
    margin-top: 53px; }
  #header #registration {
    width: 138px;
    margin-top: 40px; }

.wrapper {
  float: left;
  width: 100%; }

#cover-bar {
  background: url("/images/cover-bar-bg.png");
  display: block;
  width: 1024px;
  height: 240px;
  margin-top: 25px; }
  #cover-bar span {
    width: 100%;
    float: left;
    font-family: "museo-slab-1", "museo-slab-2", serif;
    font-size: 18px;
    color: #936845;
    height: 10px; }
  #cover-bar .cover {
    float: left;
    width: 102px;
    margin-left: 23px; }
    #cover-bar .cover a {
      margin: 0;
        margin-top: 30px;
      padding: 0;
      text-align: left;
      float: left;
      height: 160px;
      width: 100%; }
      #cover-bar .cover a img.cover-art {
        width: 100px;
        padding: 0;
        margin: 0;
        float: left;
        border: 1px solid #111110;
        display: block; }
    #cover-bar .cover img.pic-thumbnail {
      width: 32px;
      float: left;
      margin: 1px; }

#content img {
  float: left; }
#content #collection-column {
  margin-top: 40px; }
  #content #collection-column .collection-container {
    float: left; }
  #content #collection-column .author-container {
    float: left;
    margin-top: 20px; }
  #content #collection-column ul {
    width: 211px;
    float: left;
    margin: 0;
    padding: 0;
    border-left: 1px solid #ded0b3;
    border-right: 1px solid #ded0b3; }
    #content #collection-column ul li {
      border: none;
      margin: 0;
      padding: 0;
      list-style: none; }
      #content #collection-column ul li a {
        border: none;
        margin: 0;
        padding: 0;
        width: 197px;
        color: #432610;
        text-decoration: none;
        text-align: left;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        float: left;
        background: #efe1c3; }
        #content #collection-column ul li a:hover {
          color: #f7ebd5;
          cursor: pointer;
          background: #cab291; }

#book-page {
  margin-top: 40px; }
  #book-page h1 {
    color: #936845;
    font-size: 46px;
    margin: 0;
    padding: 0; }
  #book-page img.read, #book-page img.download, #book-page img.social {
    margin-bottom: 15px; }
  #book-page img.divider {
    float: left;
    display: block; }
  #book-page #cover img {
    border: 1px solid black; }
  #book-page #book-metadata {
    text-align: left; }
    #book-page #book-metadata p {
      font-size: 13px; }
    #book-page #book-metadata h2 span.book-author a {
      color: #936845;
      text-decoration: none; }
  #book-page #reviews #title-left {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 12px; }
  #book-page #reviews #title-right {
    float: right;
    float: right;
    margin-bottom: 20px;
    margin-top: 12px; }
    #book-page #reviews #title-right a {
      color: #936845;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none; }
  #book-page #reviews #form_box {
    background-color: white;
    height: auto;
    float: right;
    width: 37em;
    margin-bottom: 10px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px; }
    #book-page #reviews #form_box .left {
      width: 15%;
      float: left; }
      #book-page #reviews #form_box .left #profile-pic {
        margin: 12px; }
        #book-page #reviews #form_box .left #profile-pic img {
          border: 5px solid #f5f1e9; }
      #book-page #reviews #form_box .left #profile-name p {
        text-align: left;
        line-height: 3px;
        margin-left: 12px;
        font-size: 12px;
        font-weight: bold; }
    #book-page #reviews #form_box .right {
      width: 85%;
      float: left; }
      #book-page #reviews #form_box .right textarea {
        border: 5px solid #f5f1e9;
        height: 140px;
        margin-top: 10px;
        width: 36em;
        padding: 10px 5px; }
      #book-page #reviews #form_box .right #review_label {
        font-size: 14px;
        color: #c6c6c6;
        margin-left: 31px;
        margin-top: 20px;
        text-align: left; }
      #book-page #reviews #form_box .right #rating_label {
        display: inline;
        float: left;
        font-size: 14px;
        color: #c6c6c6;
        margin-left: 38px;
        margin-top: 10px; }
      #book-page #reviews #form_box .right form .ratings {
        float: left;
        margin-left: 7px;
        margin-top: -21px; }
      #book-page #reviews #form_box .right form #review_submit {
        margin-top: 6px;
        margin-left: 166px; }
      #book-page #reviews #form_box .right form #review_submit.displaced {
        margin-left: 326px; }
      #book-page #reviews #form_box .right #errorExplanation {
        float: right;
        margin-right: 18px;
        width: 55%; }
        #book-page #reviews #form_box .right #errorExplanation ul li {
          text-align: left; }
  #book-page #reviews ul.reviews {
    list-style: none; }
    #book-page #reviews ul.reviews li.striped {
      background-color: #ebe6de; }
    #book-page #reviews ul.reviews li {
      margin-left: -2em;
      padding: 12px;
      width: 102%; }
      #book-page #reviews ul.reviews li img {
        width: 30px;
        height: 30px; }
      #book-page #reviews ul.reviews li .profile-pic, #book-page #reviews ul.reviews li .profile-name, #book-page #reviews ul.reviews li .review-rating {
        display: inline; }
      #book-page #reviews ul.reviews li .profile-pic {
        width: 2em; }
      #book-page #reviews ul.reviews li .profile-name {
        width: 20em;
        float: left;
        font-family: helvetica;
        font-size: 15px;
        font-style: italic;
        text-align: left;
        line-height: 2px;
        margin-top: -8px;
        margin-left: 12px; }
        #book-page #reviews ul.reviews li .profile-name p.name {
          font-weight: bold; }
      #book-page #reviews ul.reviews li .review-rating {
        width: 7em;
        float: right; }
      #book-page #reviews ul.reviews li .review-content {
        width: 12em;
        width: 29em; }
        #book-page #reviews ul.reviews li .review-content p {
          font-size: 15px;
          text-align: left; }
  #book-page #reviews span {
    margin-top: 30px;
    float: left;
    text-align: left; }
  #book-page .share span {
    float: left;
    display: block;
    margin-top: 15px; }

.add-profile-pics img {
  width: 32px;
  margin: 1px; }

#home-page {
  margin-top: 40px; }
  #home-page .featured-book {
    margin-bottom: 25px;
    text-align: left; }
    #home-page .featured-book .metadata {
      padding-left: 20px; }
    #home-page .featured-book img.cover-art {
      border: 1px solid black; }
    #home-page .featured-book p a {
      color: #936845; }
    #home-page .featured-book h2, #home-page .featured-book h3 {
      color: #936845;
      margin: 0;
      padding: 0; }
    #home-page .featured-book a.title {
      color: #936845; }
    #home-page .featured-book h3 {
      font-style: italic;
      color: black;
      font-weight: normal; }
      #home-page .featured-book h3 em {
        font-weight: normal;
        color: #936845; }

#book-page .download-title {
  font-size: 21px;
  font-weight: bold; }
  #book-page .download-title .titleorauthor {
    font-size: 22px;
    color: #936845; }
#book-page #download-now {
  font-weight: bold;
  font-size: 14px;
  margin-top: 18px; }
  #book-page #download-now a {
    color: #936845; }

.expando-div {
  display: block;
  margin-bottom: 30px;
  background: #185686;
  color: white;
  text-decoration: none;
  padding: 5px; }

#collection-page {
  margin-top: 40px;
  text-align: left; }
  #collection-page h1 {
    margin: 0;
    padding: 0;
    color: #936845;
    font-family: "museo-slab-1", "museo-slab-2";
    font-size: 26px;
    font-weight: bold; }
  #collection-page .highlighted-cover img {
    border: 1px solid black;
    width: 100%;
    margin-left: 8px; }
  #collection-page .highlighted-book {
    text-align: left; }
  #collection-page a.description-link {
    color: #936845;
    text-decoration: none;
    font-weight: bold; }
  #collection-page #collection-details {
    width: 30em;
    float: left; }
    #collection-page #collection-details .title {
      color: #936845;
      font-family: "museo-slab-1", "museo-slab-2";
      font-size: 26px;
      font-weight: bold;
      margin-left: -20px; }
    #collection-page #collection-details .description a {
      color: #936845;
      font-family: Helvetica;
      font-size: 15px; }
  #collection-page #collection-featured-book {
    float: left;
    padding-top: 2px;
    margin-left: 40px; }
    #collection-page #collection-featured-book img {
      display: block;
      float: left;
      width: 10em; }
    #collection-page #collection-featured-book .box {
      background: #efe1c3;
      border: 1px solid #e8decb;
      margin-top: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      width: 11em;
      padding: 5px 0px 2px 10px; }
    #collection-page #collection-featured-book p {
      color: #936845;
      line-height: 5px; }
    #collection-page #collection-featured-book p span.dark {
      color: #43260f; }
      #collection-page #collection-featured-book p span.dark a {
        color: #43260f;
        text-decoration: none; }
  #collection-page a.book-link {
    float: left;
    width: 100%;
    display: block;
    background: #f0e2c6;
    border: 1px solid #ded0b3;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none; }
    #collection-page a.book-link:hover {
      background: none; }
    #collection-page a.book-link h3, #collection-page a.book-link h4 {
      margin: 0;
      padding: 0; }
    #collection-page a.book-link h3 {
      color: #936845; }
    #collection-page a.book-link h4 {
      color: #43260f;
      font-weight: bold; }
      #collection-page a.book-link h4 i {
        font-weight: normal; }
  #collection-page .divider img {
    margin: 0 auto;
      margin-top: 20px;
      margin-left: 100px; }

.related-books {
  background: #f3eddf;
  border: 1px solid #e8decb;
  border-radius: 15px;
  float: left;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: -5px; }
  .related-books img {
    width: 100px;
    margin-left: 22px;
    margin-bottom: 10px; }
  .related-books h4 {
    color: #936845;
    font-size: 14px;
    text-align: justify;
    margin: 0;
      margin-bottom: 10px;
      margin-left: 14px;
      margin-top: 7px;
    padding: 0;
    width: 116px; }
  .related-books span {
    color: #43260f;
    width: 100%;
    display: block;
    font-size: 12px;
    padding: 0px;
    float: left;
    margin: 0px; }
    .related-books span.author {
      margin-bottom: 5px; }

.download_this_book {
  background: #f0e0c2;
  display: block;
  float: left;
  border: 1px solid #dfcfb2;
  border-radius: 10px;
  width: 167px;
  padding-top: 10px;
  padding-bottom: 5px; }
  .download_this_book form {
    font-size: 10px;
    float: left;
    margin-left: 5px; }
  .download_this_book a {
    float: left;
    margin-left: 20px;
    margin-top: 5px; }
    .download_this_book a:hover {
      cursor: pointer; }

ul.book-list-sort {
  color: #af8f75;
  float: left;
  text-align: left; }
  ul.book-list-sort li {
    display: inline;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px; }
    ul.book-list-sort li a {
      color: #af8f75;
      text-align: left;
      text-decoration: none; }
      ul.book-list-sort li a:hover {
        opacity: 0.9; }
      ul.book-list-sort li a.selected {
        color: black; }

.pagination {
  display: block;
  width: 100%;
  padding-left: 19px;
  margin-top: 15px; }
  .pagination span.page a {
    color: #936845; }
  .pagination span.prev a {
    color: #936845; }
  .pagination span.next a {
    color: #936845; }
  .pagination span.current {
    color: #43260f; }

ul.book-list li {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px; }
  ul.book-list li a img {
    border: 1px solid black; }
  ul.book-list li .metadata {
    text-align: left; }
    ul.book-list li .metadata a.title {
      color: #936845;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      display: block;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 0; }
    ul.book-list li .metadata a.author {
      font-style: italic;
      color: #936845;
      float: left;
      display: block;
      margin-left: 5px;
      margin-top: -5px;
      text-decoration: none; }
    ul.book-list li .metadata span {
      float: left;
      display: block;
      margin-left: 20px;
      margin-top: -5px; }
    ul.book-list li .metadata img.stars {
      margin-left: 20px;
      margin-top: 5px; }

ul.featured-book-list li {
  display: block;
  background: #f3ecde;
  border: 1px solid #ded0b3;
  text-align: left; }
  ul.featured-book-list li:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
  ul.featured-book-list li:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  ul.featured-book-list li a.cover-link {
    padding: 10px;
    float: left; }
  ul.featured-book-list li img {
    border: 1px solid black; }
  ul.featured-book-list li .metadata {
    padding: 10px;
      padding-left: 20px; }
    ul.featured-book-list li .metadata a.title {
      color: #936845;
      font-weight: bold;
      text-decoration: none;
      font-size: 18px;
      display: block; }
    ul.featured-book-list li .metadata a.author {
      font-style: italic;
      color: #936845;
      float: left;
      display: block; }
    ul.featured-book-list li .metadata span {
      float: left;
      display: block;
      margin-right: 5px; }

#footer {
  background: #c9af87;
  width: 100%;
  float: left;
  border-top: 1px solid #bc9f7a;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 20px; }
  #footer h4 {
    width: 201px;
    height: 24px;
    display: block;
    padding: 0;
    margin: 0 auto;
    color: white;
    font-weight: normal;
    text-align: center;
    background: url("/images/footer-header-bg.png");
    font-family: "museo-slab-1", "museo-slab-2"; }
  #footer .about .bg {
    background: url("/images/footer-about-bg.png");
    width: 317px;
    height: 272px;
    display: block; }
    #footer .about .bg p {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 25px;
      text-align: left; }
  #footer .app {
    text-align: left; }
    #footer .app h5 {
      color: #43260f;
      font-size: 18px;
      margin: 0;
        margin-top: 20px;
      padding: 0; }
    #footer .app span {
      color: #43260f;
      font-size: 12px;
      display: block;
      Width: 100%; }
    #footer .app img.link {
      margin-top: 5px; }
    #footer .app img.icon {
      float: left;
      margin-top: 10px; }
  #footer .connect a img:hover {
    opacity: 0.8; }

#download-confirmation {
  margin-top: 40px; }
  #download-confirmation .download-info h1 {
    font-size: 45px;
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: left; }
    #download-confirmation .download-info h1 a {
      color: #936845;
      text-decoration: none;
      font-weight: bold; }
  #download-confirmation .download-info span {
    display: block;
    float: left;
    width: 100%;
    text-align: left;
    font-size: 13px;
    margin-top: 10px; }
    #download-confirmation .download-info span a {
      color: #936845; }
  #download-confirmation .divider {
    margin-top: 25px;
    margin-bottom: 25px; }
  #download-confirmation .facebook {
    float: left; }
    #download-confirmation .facebook .top {
      float: left;
      width: 276px;
      height: 66px;
      display: block; }
      #download-confirmation .facebook .top span {
        float: left;
        display: block;
        margin-top: 35px;
        margin-left: 50px; }
    #download-confirmation .facebook .bottom {
      float: left;
      width: 276px;
      height: 11px;
      display: block; }
  #download-confirmation .twitter img {
    display: block; }
    #download-confirmation .twitter img:hover {
      opacity: 0.7;
      cursor: pointer; }
  #download-confirmation .sync {
    float: left;
    margin-top: 30px; }
    #download-confirmation .sync img {
      display: block; }
      #download-confirmation .sync img:hover {
        opacity: 0.7;
        cursor: pointer; }

#apple-store-banner {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 214px;
  width: 212px;
  background: url(../images/app-store-banner-ipad_02.png) no-repeat;
  text-indent: -999em;
  text-decoration: none; }
  #apple-store-banner img {
    position: absolute;
    top: 0px;
    left: -8px; }

span.condense_control {
  color: #936845;
  font-style: italic; }

.share-widgets {
  margin-top: 18px; }

.twitter-widget {
  display: inline; }

.facebook-widget {
  display: inline;
  float: right;
  margin-right: -51px;
  width: 0; }

.download-share .twitter-widget {
  float: left; }
.download-share .facebook-widget {
  float: left;
  margin-left: 61px; }

.clear {
  clear: both; }

.star-on, .star-off {
  float: left;
  width: 19px;
  height: 17px;
  text-indent: -999em;
  cursor: pointer;
  display: block;
  background: transparent;
  overflow: hidden;
  background: url(../images/star-sprite.png) no-repeat 0 0px; }

.star-on {
  background-position: 0 0px !important; }

.star-off {
  background-position: 0 -19px !important; }

.book-avg-rating {
  margin-left: 19px; }

#errorExplanation h2 {
  font-size: 14px; }
#errorExplanation ul li {
  font-size: 12px; }
