/*
  todo: make sprites out of images.
 */
body {
  background: #f6f3ee; }


#reader_box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #f8f5f0;
  width: 48em;
  height: 750px;
  position: relative;
  font-family: georgia, serif;
  border: 1px solid #e3e0da;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px; }

  #reader_box #library_button {
    margin-top: 36px;
    margin-left: 20px;
    width: 135px;
    float: left;
    position: relative;
    z-index: 1000;
  }

  #reader_box #library_button .button .left {
    display: block;
    float: left;
    background: url(../images/reader_btn_left.png) no-repeat;
    width: 4px;
    height: 30px;
  }

  #reader_box #library_button .button a {
    text-decoration: none;
    display: block;
    float: left;
    padding: 5px 4px 0px 4px;
    background: url(../images/reader_btn_middle.png) repeat-x;
    background-position: 5px 0px;
    height: 30px;
  }

  #reader_box #library_button .button a, #reader_box #library_button .button a:active {
    color: #34261c;
  }

  #reader_box #library_button .button .right
  {
    display: block;
    float: left;
    background: url(../images/reader_btn_right.png) no-repeat;
    width: 4px;
    height: 30px;
  }


  #reader_box .header {
    color: #34261c;
    text-transform: uppercase;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    font-size: 17px;
    text-align: center;
  }

  #reader_box #bookmark_tag {
    width: 50px;
    position: relative;
    z-index: 1000;
    left: 45em;
    top: -2em;
    margin-top: 35px;
  }

  #reader_box #bookmark_ribbon {
    width: 54px;
    height: 79px;
    position: absolute;
    z-index: 1000;
    left: 44em;
    top: 1em;
    margin-top: -16px;
  }

  #reader_box .text_box {
    position: absolute;
    top: 75px;
    left: 25px;
    right: 25px;
    bottom: 100px; }
  #reader_box .error_box {
    display: none;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    width: 400px;
    margin: 4px;
    font-size: 20px;
    position: absolute;
    left: 150px;
    top: 400px;
    z-index: 1; }
  #reader_box .loading_box {
    display: none;
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    background-image: url("../images/html-reader/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #666666;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    margin: 4px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1; }
  #reader_box .text_box p {
    text-align: justify;
    font-size: 15px;
    line-height: 1.3;
    font-family: georgia, serif;
    color: #34261c;
    margin-bottom: 20px;
    text-indent: 15px; }
  #reader_box .text_box p.no_indent {
    text-indent: 0 !important; }

  #reader_box .big_navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4em;
  }

  #reader_box .big_navigation .box {
    background-color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    position: absolute;
    left: 0;
    right: 0;
    top: 300px;
    bottom: 300px;
    padding-top: 50px;
    text-align: center;
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 40px;
    z-index: 13; }
  #reader_box .big_navigation.right .box {
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -khtml-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0; }
  #reader_box .big_navigation.right {
    right: 0; }
  #reader_box .big_navigation.left .box {
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -khtml-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px; }
  #reader_box .big_navigation.left {
    left: 0; }
  #reader_box .navigation {
    position: absolute;
    bottom: 10px;
    left: 25px;
    right: 25px;
    height: 40px;
    cursor: pointer; }
  #reader_box .navigation .slider_wrap {
    display: none;
    background: url("../images/html-reader/scroller-dots.png") repeat-x;
    position: absolute;
    top: 14px;
    bottom: 13px;
    left: 25px;
    right: 25px; }
  #reader_box .navigation .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.slider_cursor {
  background: url("../images/html-reader/scroller-mid.png");
  position: absolute;
  top: -10px;
  height: 25px;
  z-index: 10;
  display: inline-block; }
  .slider_cursor .before_scroller_num {
    position: absolute;
    left: 0;
    width: 5px;
    top: 0;
    bottom: 0;
    background: url("../images/html-reader/scroller-left.png"); }
  .slider_cursor .after_scroller_num {
    position: absolute;
    right: 0;
    width: 5px;
    top: 0;
    bottom: 0;
    background: url("../images/html-reader/scroller-right.png"); }
  .slider_cursor .page_num {
    color: #fff;
    font-size: 11px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    top: 4px;
    z-index: 12; }
