- content_for :title do
  %title=@author.name
-# put here the head content

#collection-page
  WEFJEWIFOEWJ
  %h1=@author.name
  = author_featured_book_image_link(@author, @type)
  %a.book-link{:href => author_book_url(@author, @author.featured_book(@type))}
  %h3 Featured Book:
  %h4=@author.featured_book(@type).pretty_title
  %h4 <i>by</i> #{@author.name}
