#itunes_store
  = image_tag 'itunes-app-upsell.png'

  #text-banner
    %span#message.bigbold
      Your friend is reading with Classicly.
    %span#books.small
      23,469 books for $1.99. Seriously.
    %span#iphone.small
      iPhone: 
    = link_to image_tag('iphone_app_store.png'), "http://itunes.apple.com/us/app/free-books-23-469-classics/id317776727?mt=8"
    %span#ipad.small
      iPad:
    = link_to image_tag('iphone_app_store.png'), "http://itunes.apple.com/us/app/free-books-23-469-classics/id364612911?mt=8"