= image_tag 'app-store-banner-ipad_02.png', :id => 'apple-store-banner', :usemap => '#apple_store_banner'
%map{:id =>"apple_store_banner", :name =>"apple_store_banner"}
  %area{:shape => "poly", :coords => "209,8,210,204,9,2", :href=> "http://itunes.apple.com/us/app/free-books-23-469-classics/id364612911?mt=8", :target => '_blank'}
  %area{:shape => "rect", :coords => "210,212,212,214", :href=> "http://itunes.apple.com/us/app/free-books-23-469-classics/id364612911?mt=8", :target => '_blank'}