#itunes_store
  = image_tag 'itunes-app-upsell.png'

  #text-banner
    %span#message.bigbold
      Your friend is reading with Classicly.
    %span#books.small
      23,469 books for $1.99. Seriously.
    %span#iphone.small
      iPhone: 
    = image_tag('iphone_app_store.png')
    %span#ipad.small
      iPad:
    = image_tag('iphone_app_store.png')