.error-message
  %p.code Error 404
  %p
    We're sorry, but the page you're looking for can't be found.
    %br
    %br
    You might try using the search above or starting at our
    %a{href: '/'} homepage
