#nav.grid_3
  #user_welcome
    - if user_signed_in?
      = facebook_image(current_login.fb_connect_id)
      %span.name
        Welcome back, #{current_login.first_name}!
#registration.grid_1.omega
  <fb:login-button autologoutlink="true"  perms='user_about_me, user_hometown, user_photos'></fb:login-button>
#fb-root
