#user-profile
  .photo
    %img{:src => '/images/profile-test.jpeg'}
  .name
    %span <strong>Colin Plamondon</strong><br />
    %span Boston, MA
  .stats
    %span 3,157 pages read
    %span 10 books downloaded