#library-content.row
  
  .user-column.span3.columns
    #user-profile
      = render :partial => 'fb_user_profile'

  .book-column.span9.columns
    - if current_library.last_read_book
      .row
        .span9.columns
          %h3 Last Read
      #last-read
        = render :partial => 'libraries/book', :object => current_library.last_read_book, :as => :book
    .row
      .span9.columns
        %h3 My Library
    #book-list
      = render :partial => 'libraries/book', :collection => current_library.books, :as => :book

<script>
if( _kmq ) _kmq.push([ "record" ,"Library Viewed", {"id": "#{current_login.fb_connect_id}"}]);
</script>
