#library-preview
  #container
    %p#copy
      Sync to iPhone and iPad.
      %br
      Read online. Download anytime.
    %a#register-button
      %span Create your free library
    = link_to "... or just keep browsing", '/', :id => 'browse'

= javascript_include_tag 'library-upsell'
 
