#fb-login
  #login-text
    Login with Facebook so we won't lose your library.
  #login-button
    <fb:login-button autologoutlink="true" width="130" show-faces="false" max-rows="0" perms="user_about_me, user_hometown, user_photos"></fb:login-button>