#fb-login-dialog
  #login-text
    Login with Facebook so we won't lose your library.
  #login-button
    = link_to image_tag('facebooklogo.gif'), "#", :class => 'facebook-signin'

:javascript
  $(function(){
    $('a.facebook-signin').click(function(){
      FB.login();
      return false;
    });
  });
