#now_downloading_top_bar.global-notification
  .notification-header
    %strong
      = book.pretty_title
    by
    = link_to "#{book.author.name}", seo_url(book.author)
    is now downloading...
  .notification-text
    If the download does not automatically start,
    = link_to "click here", serve_downloadable_file_url(book, download_format), :name => download_format

:javascript
  // hide it by default, then we'll animate in
  hideGlobalNotifications();

  $(document).ready( function() {
    showGlobalNotifications();
  });
