#author-list-page
  #featured-collection{:name => "collection_#{@featured.id}"}
    .cover-column
      .cover-here.medium
        .stable
          .spinner
    .detail-column
      %h1 Featured Author: <strong>#{@featured.name}</strong>
      %p= raw parsed_collection_description(@featured.description )
    .books-and-link
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      %a.browse-collection{:href => '/best-of'}
        =image_tag 'view-this-author-big.png'
  #collection-list
    %h2 Authors:
    = render 'collection_list', :collections => @collections
