#author-list-page
  #featured-collection
    .cover-column
      .cover-here.medium
        .stable
          .spinner
    .detail-column
      %h1 Featured Author: <strong>Edgar Rice Burroughs</strong>
      %p 
        Edgar Rice Burroughs (1875 – 1950) was an American author, famous for his creation of the character Tarzan and the Carter series. Burroughs embraced the pulp fiction of the day, and his writing was first and foremost about making money. Burroughs, who was married with two children, held a series of low paid jobs until the publication of his first story, Under the Moons of Mars, which fetched him close to 9 grand in today’s money. He thought: "...if people were paid for writing rot such as I read in some of those magazines, that I could write stories just as rotten. As a matter of fact, although I had never written a story, I knew absolutely that I could write stories just as entertaining and probably a whole lot more so...”



    .books-and-link
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      .cover-here.tiny
        .stable
          .spinner
      %a.browse-collection{:href => '/best-of'}
        =image_tag 'view-this-author-big.png'
  #collection-list
    %h2 Authors:
    = render 'collection_list', :collections => @collections
