#library-page
  .user-column
    .photo
      %img{:src => '/images/profile-test.jpeg'}
    .name
      %span <strong>Colin Plamondon</strong><br />
      %span Boston, MA
    .stats
      %span 3,157 pages read
      %span 10 books downloaded
  .book-column
    %h3 Last Read:
    .book
      .cover
        %img{:src => 'http://spreadsong-book-covers.s3.amazonaws.com/book_id15791_size2.jpg'}
        .stable
          .spinner
      .info
        %h4 Dr. Jekyll and Mr. Hyde
        %h5 Robert Lewis Stevenson
      .download
        %a.highlight{:href => '#'} Download for Kindle
        <br />
        %a.highlight{:href => '#'} Download as PDF
      .read
        %a.highlight{:href => '#'} <strong>Continue Reading</strong>
