- content_for :title do
  %title Free Books to Read Online and Online Books for Free - 23,469 classics - Classicly

- content_for :head do
  = fb_open_graph_metadata
  %meta{:name => 'description', :content => '24,469 of the world’s greatest free books, available for free in PDF,  Kindle, Sony Reader, iBooks, and more. You can also read online! From the creators of Free Books for iPad, a Top 100 app.'}
  
- content_for :related_books do
  %span
    Popular Books
  = render :partial => 'pages/cover', :collection => @related_books

#home-page
  = render :partial => "featured_book", :collection => @featured_books
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like href="www.classicly.com" show_faces="true" width="450" font="arial"></fb:like>
<script type="text/javascript">document.write(unescape('%3Cscript type="text/javascript" src="'+document.location.protocol+'//dnn506yrbagrg.cloudfront.net/pages/scripts/0010/3575.js"%3E%3C%2Fscript%3E'))</script>

