- content_for :title do
  %title Read Online and Download Free Books - 23,469 classics - Classicly

- content_for :head do
  = fb_open_graph_metadata
  %meta{:name => 'description', :content => '24,469 of the world’s greatest free books, available for free in PDF,  Kindle, Sony Reader, iBooks, and more. You can also read online!'}
  
- content_for :related_books do
  %span
    Popular Books
  = render :partial => 'pages/cover', :collection => @related_books

#home-page
  = render :partial => "featured_book", :collection => @featured_books
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like href="www.classicly.com" show_faces="true" width="450" font="arial"></fb:like>
