<div class=WordSection1>

<p class=MsoNormal align=center style='margin-top:5.0pt;margin-right:0in;
margin-bottom:10.0pt;margin-left:0in;text-align:center'><b><span
style='font-size:18.0pt;font-family:Arial'>Classicly.com Terms of Service</span></b></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>The effective date of these Classicly.com. Terms of
Service is June 17, 2011.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>1. ACCEPTANCE OF
TERMS</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Thanks for using Classicly.com to share and enjoy what you
read! Our basic service is free, and we offer paid upgrades for advanced
features such as audio books and ad-free usage.&nbsp; Our service is designed
to give you broad control and ownership over what you publish on your site and
we encourage you to express yourself freely.&nbsp; However, be responsible in
what you publish.&nbsp; In particular, make sure that none of the prohibited
items listed below appear in your Content (as defined below) or get linked to
or from your Content (e.g., spam, viruses, or hate Content).</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Spreadsong, Inc., a Delaware corporation (Ò<b>Spreadsong</b>Ó),
provides the Classicly Service, including without limitation the Classsicly
Site and the Classicly Apps (each as defined below, to you subject to
acceptance without modification of all of the terms and conditions contained
herein and all other operating rules, policies, and procedures that may be
published from time to time on the Classicly Service (collectively, these
&quot;<b>Terms</b>&quot;). </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>IF YOU DO NOT AGREE TO ALL OF THESE TERMS, THEN DO NOT
ACCESS OR USE THE CLASSICLY SITE OR CLASSICLY APPS, OR ANY OTHER PART OF THE CLASSICLY
SERVICE (AS DEFINED BELOW). BY VIEWING OR USING ALL OR ANY PART OF THE CLASSICLY
SERVICE, OR DOWNLOADING ANY MATERIALS OR BY COMPLETING ANY CLASSICLY
REGISTRATION PROCESS, YOU AGREE TO BE BOUND BY ALL OF THESE TERMS. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>We reserve the right to modify these Terms at any
time.&nbsp; We will provide notice of any modification to these Terms either by
changing the Òeffective dateÓ listed above, by posting a notice on the
Classicly Service (via the Classicly Site or the Classicly Apps), or by sending
you a notice via email or postal mail. Your viewing or using all or any part of
the Classicly Service constitutes your assent to such modifications. You shall
be responsible for reviewing and becoming familiar with any such modifications.
Such modifications are effective immediately upon first posting or
notification. </span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>2. THE CLASSICLY
SERVICE</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Spreadsong provides users with access to a rich collection
of on-line resources and content, including without limitation, (i) the <a
href="http://www.classicly.com/">www.classicly.com</a> website and other
related websites and subdomains (the Ò<b>Classicly Site</b>Ó); (ii) free books,
free audiobooks, web-based and mobile applications for free books and free
audiobooks (e.g. the Free Books for iPhone app, the Free Books for iPad app,
the Free Audiobooks for iPhone app, the Audibly for iPhone app, the Classicly
HD for iPad app, and the Classicly for iPhone app), and paid upgrades available
via the Paid Service (as defined below) (the Ò<b>Classicly Apps</b>Ó); and
(iii) related products and services available at the Classicly Site and/or
through the Classicly Apps, apps stores or other channel partners, including
the Paid Service (as defined below) (collectively with the Classicly Site and
the Classicly Apps, the &quot;<b>Classicly <span>Service</span></b>&quot;).
These Terms govern all use of the Classicly Service, including the Classicly
Site and the Classicly Apps, and all content and services available at or
through the Classicly Service and/or apps stores or other channel partners.&nbsp;
Unless explicitly stated otherwise, any new features that enhance the current Classicly
Service shall be subject to these Terms.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>&nbsp;<br>
In order to use the Classicly Service, you must obtain access to the World Wide
Web, either directly or through devices that access web-based content, and pay
any service fees associated with such access. In addition, you must provide all
equipment necessary to make such connection to the World Wide Web, including a
computer and modem or other access device. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Subject to the restrictions on use and on posting set
forth in this Agreement, you may: (i) use the Classicly Service to post Content
(as defined below) to the Classicly Site, the Classicly Apps, or other
componetns of the Classicly Service; (ii) download, read, and listen to
Content; (iii) share Content with other users and individuals not using the Classicly
Service; (iv) highlight portions of Content, take notes on portions of Content,
share those highlighted and noted portions of Content, review Content, rate Content,
and discuss the ratings and reviews of other users; (v) import Content into the
Classicly Service, subject to these Terms, and the rules, limitations, and
regulations surrounding Content within the jurisdiction of this Agreement; (vi)
sendContent to individuals whether or not using the Classicly Service at the
time of sending (which recipientÕs usage of such Content shall be subject to
these Terms); (vii) receive Content from other individuals (which usage of such
Content by you shall be subject to these Terms); (viii) ÒlikeÓ Content within
the Classicly Service (which act of ÒlikingÓ shall be public to other
individuals); (ix) comment on Content, discuss and vote upon Content; interact
with Content, search Content; and (x) and download or copy the portions of the
information, data, text, sound, photographs, graphics, video, messages, links,
and other materials available via the Classicly Service, and other items
displayed on the Classicly Service (&quot;<b>Content</b>&quot;), in each case for
your own non-commerical, personal, non-competitive use. You may not copy or distribute
any portion of the Classicly Service (including without limitaton, the
Classicly Site, the Classicly Apps, and the Content) for any purpose not
authorized above without the express written permission of Spreadsong.
Spreadsong does not control the Content posted by third parties via the Classicly
Service, including the content of any messages or reviews, and does not
guarantee the accuracy, integrity or quality of such Content. <b>YOU UNDERSTAND
THAT BY USING THE SERVICE YOU MAY BE EXPOSED TO CONTENT THAT IS OFFENSIVE,
INDECENT OR OBJECTIONABLE. UNDER NO CIRCUMSTANCES WILL SPREADSONG BE LIABLE IN
ANY WAY FOR ANY CONTENT, INCLUDING ANY ERRORS OR OMISSIONS IN ANY CONTENT, OR
ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT.
YOU ARE RESPONSIBLE FOR COMPLYING WITH ALL LAWS APPLICABLE TO THE CONTENT YOU
SUBMIT VIA THE CLASSICLY SERVICE. YOU AGREE THAT YOU MUST EVALUATE AND BEAR ALL
RISKS ASSOCIATED WITH THE USE OF ANY CONTENT, INCLUDING ANY RELIANCE ON THE
CONTENT, INTEGRITY, AND ACCURACY OF SUCH CONTENT.</b> Spreadsong reserves all
rights with respect to the Classicly Service not expressly specified herein. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You must be 18 years of age or over, or the legal age to
form a binding contract in your jurisdiction if that age is greater than 18
years of age, to use the Classicly Service (including without limitation the
Classicly Site and the Classicly Apps). If you are under the age of 18 or the
applicable legal age in your jurisdiction, you can use the Classicly Service
only in conjunction with, and under the supervision of, your parent or guardian
who has agreed to these Terms. If you do not so qualify, do not use any portion
of the Classicly Service. Membership in the Classicly Service is void where
prohibited by applicable law, and the right to access the Classicly Service is
revoked in such jurisdictions. You must be 13 years of age or older to use the
Classicly Service, in compliance with the Children's Online Privacy Protection
Act (COPPA). By using the Classicly Service (including without limitation the
Classicly Site and the Classicly Apps), you represent and warrant that you have
the right, authority, and capacity to enter into these Terms and to abide by
all of the terms and conditions set forth herein. The Classicly Service is administered
in the United States of America and intended for US users; any use outside of
the US is at the user's own risk and users are responsible for compliance with
any local laws applicable to their use of the Classicly Service (including
without limitation the Classicly Site and the Classicly Apps). </span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>3. REGISTRATION
OBLIGATIONS</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>In consideration of use of the Classicly Service, you
agree to: (a) provide true, accurate, current, and complete information about
yourself as prompted by the Classicly Service's registration form (such
information being the &quot;<b>Registration Data</b>&quot;), and (b) maintain
and promptly update the Registration Data to keep it true, accurate, current,
and complete. If you provide any information that is untrue, inaccurate, not
current, or incomplete, or Spreadsong has reasonable grounds to suspect that
such information is untrue, inaccurate, not current, or incomplete, Spreadsong
has the right to suspend or terminate your account and refuse any and all
current or future use of the Classicly Service (or any portion thereof).
Additionally, you agree that if you provide false information to obtain access
to a Spreadsong business site that you are not legally entitled to claim,
Spreadsong will be entitled to collect liquidated damages of $1,000 per
violation or actual damages incurred by Spreadsong from you. You understand and
agree that the Classicly Service may include certain communications from
Spreadsong, such as service announcements, administrative messages, and the
Spreadsong Newsletter, and that these communications are considered part of the
Classicly Service by default. However, you may opt out of receiving these
communications, and Spreadsong will end your enrollment within 120 hours of
receiving your opt out.&nbsp; </span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>4. CLASSICLY.COM
PRIVACY POLICY</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>For information regarding how we treat personal
information of our users, please see our current, full privacy policy at <u>http://www.classicly.com/privacy</u>,
which is incorporated in its entirety into these Terms by this reference. </span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>5. USER CONDUCT</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You understand that all Content, whether publicly posted
or privately transmitted, is the sole responsibility of the person from which
such Content originated. This means that you, and not Spreadsong, are entirely
responsible for all Content that you upload, post, or otherwise transmit via
the Classicly Service. This also means that you are entirely responsible for,
among other things, (a) ensuring that you have all obtained all necessary legal
rights to upload, post, or otherwise transmit Content via the Classicly Service
(and to grant Spreadsong the license to such Content set forth in Section 7
below), and (b) that any Content that you upload, post, or otherwise transmit
via the Classicly Service complies in all respects with the Terms. Spreadsong
does not control the Content posted via the Classicly Service and, as such,
does not guarantee the accuracy, integrity, or quality of such Content,
including but not limited to business endorsements and commentary. You
understand that by using the Classicly Service, you may be exposed to Content
that is offensive, indecent, or objectionable. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>In your use of the Classicly Service (including without
limitaton the Classicly Site and the Classicly Apps), you agree not to: </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Upload,
post, or otherwise transmit any Content that is unlawful, harmful, threatening,
abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive
of another's privacy, hateful, or racially, ethnically, or otherwise
objectionable; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>b.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Harm
minors in any way, or seek or recommend providers of material that exploits
people under the age of 18 in a sexual or violent manner, or seek or recommend
providers that solicit personal information from anyone under 18; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>c.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Post
information that is pornographic or sexually explicit in nature; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>d.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Post
false or intentionally misleading information; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>e.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Provide
any posted Content that falsely expresses or implies that such Content or
material is sponsored or endorsed by Spreadsong; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>f.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Provide
any posted Content that is unlawful or that promotes or encourages illegal
activity; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>g.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Impersonate
any person or entity, including, but not limited to, a Spreadsong official,
forum leader, guide, or host, or falsely state or otherwise misrepresent your
affiliation with a person or entity; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>h.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Forge
headers or otherwise manipulate identifiers in order to disguise the origin of
any Content transmitted through the Classicly Service or develop restricted or
password-only access pages, or hidden pages or images (those not linked to from
another accessible page); </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>i.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Upload,
post, or otherwise transmit any Content that you do not have a legal right to
transmit under any law or under contractual or fiduciary relationships (such as
inside information, proprietary and confidential information learned or
disclosed as part of employment relationships or under nondisclosure
agreements); </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>j.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Upload,
post, or otherwise transmit any Content that infringes any patent, trademark,
trade secret, copyright, trade secret, or other proprietary rights of any
party, or remove any copyright, trademark, or other proprietary rights notice
contained in the Classicly Service (including without limitation the Classicly
Site and the Classicly Apps) or in any Content; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>k.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Upload,
post, or otherwise transmit any material that contains software viruses, worms,
defects, Trojan Horses or any other computer code, files, or programs of a
destructive nature designed to interrupt, destroy, or limit the functionality
of any computer software or hardware or telecommunications equipment; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>l.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Interfere
with or disrupt the Classicly Service or servers or networks connected to the Classicly
Service, use any device, software, or routine that interferes with the proper
working of the Classicly Service, or disobey any requirements, procedures,
policies, or regulations of networks connected to the Classicly Service; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>m.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Intentionally
or unintentionally violate any applicable local, state, national, or
international law; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>n.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>&quot;Stalk&quot;
or otherwise harass another user, individual, merchant, student, or instructor;
</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>o.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Collect,
harvest, or store personal data about users, or members for any reason other
than to solicit and share reviews or to gain more information about a learning
or teaching opportunity; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>p.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Use
any robot, spider, site search/retrieval application, or other automated
device, process or means to access, retrieve or index any portion of the
Classicly Service and/or Content; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>q.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Create
or submit unwanted email or messaging (&quot;<b>Spam</b>&quot;) to any other
Spreadsong user or otherwise interfere with the enjoyment of other Members or
Users of the Classicly Service or the Content; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>r.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Modify,
adapt, sublicense, translate, sell, decompile, disassemble, or reverse engineer
any portion of the Classicly Service (including without limitation the
Classicly Site and the Classicly Apps) and/or the Content; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>s.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Access,
retrieve, or index any portion of the Classicly Service and/or Content for
purposes of constructing or populating a searchable database of reviews,
content, interactions, or collections; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>t.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Reformat
or frame any portion of the web pages that are part of the Classicly Service
and/or Content; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>u.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Create
user accounts by automated means or under false or fraudulent pretenses; </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>v.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Use
the Classicly Service or Content to violate the security of any computer
network, crack passwords or security encryption codes, transfer or store illegal
material, or take any action that imposes or may impose, in SpreadsongÕs sole
discretion, an unreasonable or disproportionately large load on SpreadsongÕs IT
infrastructure; or </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>w.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Copy
or store any Content offered on or through the Classicly Service for any
purpose other than your own non-commerical, non-competitive, personal use; </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You understand and agree that Spreadsong may review and
delete any Content that in the sole judgment of Spreadsong violates these Terms
or which might be offensive, illegal, or that might violate the rights of,
harm, or threaten the safety of other users or members of the Classicly Service
and/or other website users. You are solely responsible for your Content posted
on the Classicly Service. Spreadsong reserves the right, but has no obligation,
to monitor disputes between you and any other user of the Classicly Service. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>In addition, you agree that all hyperlinks and other
offers comprising the Classicly Service (e.g., hyperlinks provided in
connection with Spreadsong's RSS feeds) may not be modified from the original
form in which such hyperlinks and other offers are generally made available by
Spreadsong. </span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>6. CONTENT
SUBMITTED TO SPREADSONG</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Spreadsong does not claim ownership of the Content you upload,
post, or otherwise disclose or distribute on the Classicly Service. By
uploading, submitting or otherwise disclosing or distributing Content of any
kind on the Classicly Service (including without limitation the Classicly Site
and the Classicly Apps), you: </span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>a.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Grant
to Spreadsong, its affiliates and their assignees the perpetual, irrevocable,
fully assignable, non-exclusive, royalty-free right and license to use,
reproduce, display, perform, adapt, modify, distribute, make derivative works
of, and otherwise exploit such Content in any form for the purpose of providing
the Classicly Service, including without limitation, any concepts, ideas, or
know-how embodied therein;</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>b.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Represent
and warrant to Spreadsong that:</span></p>

<p class=MsoNormal style='margin-left:1.5in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>&nbsp;you own or
otherwise control all rights to such Content (including the ability to grant
Spreadsong this license) and that disclosure and use of such Content by
Spreadsong (including without limitation, publishing Content to the Classicly
Service) or by users of the Classicly Service (including without limitation,
downloading, interacting with, copying and use of the Content) will not
infringe or violate the rights of any third party (including without limitation
copyrights, patent, trademark or trade secret rights);</span></p>

<p class=MsoNormal style='margin-left:1.5in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>If your employer has
rights to Content you create, you have either (i) received written permission
from your employer to post or make available the Content, or (ii) secured from
your employer a waiver as to all rights in or to the Content;</span></p>

<p class=MsoNormal style='margin-left:1.5in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>You have fully
complied with all third-party licenses relating to the Content, and have done
all things necessary to successfully pass through to end users any required
terms; and</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>c.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Acknowledge
that the Content will not be treated confidentially.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You agree not to provide Spreadsong with any confidential
or proprietary information that you desire or are required to keep secret.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You acknowledge that Spreadsong does not pre-screen
Content, but that Spreadsong and its designees shall have the right (but not
the obligation) in their sole discretion to remove or block access to any
Content that is available via the Classicly Service. Without limiting the
foregoing, Spreadsong and its designees shall have the right to remove any
Content that violates these Terms or is otherwise objectionable (in
SpreadsongÕs sole discretion). You agree that you must evaluate, and bear all
risks associated with, the use of any Content, including any reliance on the
accuracy, completeness, or usefulness of such Content.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>7. INDEMNITY</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You agree to indemnify and hold Spreadsong, and its
subsidiaries, affiliates, officers, agents, co-branders or other partners, and
employees, harmless from any claim or demand, including reasonable attorneys'
fees, made by any third party due to or arising out of (a) Content posted,
uploaded, or otherwise transferred by you, (b) your use of the Classicly Service,
(c) your connection to the Classicly Service, (d) your violation of these
Terms, or (d) your violation of any rights of another person. </span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>8. PAYMENT AND
RENEWAL FOR UPGRADE SERVICES</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>We offer paid upgrades for access to portions of the Classicly
Service with advanced features such as audio books and ad-free usage, and
accordingly we charge and collect fees in advance for certain products and
services in connection with the Classicly Service (the Ò<b><u>Paid Service</u></b>Ó).
If you select a Paid Service, you acknowledge and agree that the Paid Service
will be provided on a monthly basis and shall automatically renew at the end of
each designated period unless either party requests a change to your
subscription plan or its termination.&nbsp; A recurring billing charge will be
automatically issued to you at the end of each month for the applicable license
fees consistent with the subscription plan that you select.&nbsp; Payment shall
be by credit card, iOS ÒIn App PurchaseÓ, or other payment method offered by Spreadsong
or its channel partners. You agree to pay the applicable subscription license
fees for your account in accordance with the license fees and billing terms in
effect at the time the fees are due and payable. The Paid Service license fees
are nonrefundable. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><b><span style='font-size:10.0pt;
font-family:Arial;color:#363636'>Local and State Taxes</span></b></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Billing amounts are exclusive of all taxes, levies, or
duties that may be imposed by taxing authorities having jurisdiction over your
access location. Due to the mobility of access to the Classicly Service, you
acknowledge and agree to be responsible for the payment of such taxes, levies,
or duties, if any. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><b><span style='font-size:10.0pt;
font-family:Arial;color:#363636'>Billing Errors</span></b></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You must contact Spreadsong in writing (including email)
within 30 days of receiving an invoice or billing receipt containing the amount
in question in order to be eligible to receive a credit or adjustment. Your
continued use of any Spreadsong product or service after any contacting
SpreadsongÕs customer service department may invalidate any claim for credit or
reimbursement of charges. The maximum credit that a Customer shall be entitled
shall be determined by Spreadsong. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><b><span style='font-size:10.0pt;
font-family:Arial;color:#363636'>Non-Payment</span></b></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>In the event your account becomes overdue, Spreadsong
reserves the right to suspend the Classicly Service provided to you unless
alternative arrangements have been agreed to in advance in writing. You
acknowledge and agree that suspension of your account will deny you access to
the Classicly Service until delinquent accounts are paid in full. In addition
to the rights granted herein, Spreadsong reserves the right to terminate your
access to the Classicly Service in accordance with the Terms set forth herein.
In the event that you stop or void any payment to Spreadsong, claim a credit
for credit card payments for Classicly Services already used, or in any way
impede SpreadsongÕs ability to collect funds for Classicly Services already
rendered, Spreadsong shall be entitled to interest in the amount of 1.5% per
month, plus Spreadsong shall be entitled to recovery of all collections costs
and attorneyÕs fees. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><b><span style='font-size:10.0pt;
font-family:Arial;color:#363636'>Termination of Paid Service</span></b></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You or Spreadsong may terminate the Paid Service by
notifying the other party via the Spreadsong Cancelation process at any time
prior to the beginning of the next billing cycle. Upon termination of the Paid
Service for any reason, you will immediately cease all use of the Paid
Service.&nbsp; After termination, Spreadsong will terminate your access to the
Paid Service. Spreadsong will reactivate your access to Paid Service available
to you if you decide to reactivate your account by paying Spreadsong the applicable
license fees. </span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><b><span style='font-size:10.0pt;
font-family:Arial;color:#363636'>Customer Support</span></b></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Spreadsong, or its designee(s), shall provide E-mail
support during normal business hours (9:00 AM to 5:00 PM Pacific Standard Time)
Monday-Friday, except on holidays.&nbsp; Spreadsong can be contacted via support@classicly.com.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>9. MODIFICATION
AND TERMINATION</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You agree that Spreadsong may, in its sole discretion and
without notice, terminate your password, your use of the Classicly Service, and
remove and discard any Content within the Classicly Service, for any reason,
including, without limitation, for lack of use or if Spreadsong believes that
you have violated or acted inconsistently with the letter or spirit of these
Terms. Spreadsong may also, in its sole discretion and at any time, discontinue
providing or modify the Classicly Service, or any part thereof, with or without
notice. You agree that any termination of your access to the Classicly
Classicly Service under any provision of these Terms may be effected without
prior notice, and you acknowledge and agree that Spreadsong may immediately
deactivate or delete Content uploaded by you to the Classicly Service and all
related information and files on the Classicly Service and/or bar any further
access to such Content, information and files, or the Classicly Service.
Further, you agree that Spreadsong shall not be liable to you or any
third-party for any modification of the Classicly Service termination of your
access to the Classicly Service.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>10.
ADVERTISEMENTS</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Spreadsong runs advertisements and promotions on the Classicly
Service. By uploading Content to the Classicly Service, you agree that
Spreadsong has the right to run such advertisements and promotions in
connection with such Content. The manner, mode and extent of advertising by
Spreadsong on the Classicly Service are subject to change in the sole
discretion of Spreadsong.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>11. LINKS</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>The Classicly Service may provide, or third parties may
provide, links to other World Wide Web sites, applications, products, email
addresses, and resources. Because Spreadsong has no control over such
sites,applications,products, email addresses, and resources, you acknowledge
and agree that Spreadsong is not responsible for the availability of such
external sites, applications, products, email addresses, or resources, and does
not endorse and is not responsible or liable for any Content, advertising,
products, or other materials on or available from such sites or resources. YOU
FURTHER ACKNOWLEDGE AND AGREE THAT SPREADSONG SHALL NOT BE RESPONSIBLE OR
LIABLE, DIRECTLY OR INDIRECTLY, FOR ANY DAMAGE OR LOSS CAUSED OR ALLEGED TO BE
CAUSED BY OR IN CONNECTION WITH USE OF OR RELIANCE ON ANY SUCH CONTENT, GOODS
OR SERVICES AVAILABLE ON OR THROUGH ANY SUCH SITE OR RESOURCE.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>12. SPREADSONG
PROPRIETARY RIGHTS</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You agree that all Content and materials delivered via the
Classicly Service or otherwise made available by Spreadsong are protected by
copyrights, trademarks, service marks, patents, trade secrets, or other
proprietary rights and laws. Except as expressly authorized by Spreadsong in
writing, you agree not to sell, license, rent, modify, distribute, copy,
reproduce, transmit, publicly display, publicly perform, publish, adapt, edit,
or create derivative works from such materials or Content. However, you may
print or download a copy of the materials or Content at the Classicly Service
solely for your non-commercial, non-competitive personal use; <i>provided,
however,</i> that you retain all copyright and other proprietary notices
contained therein. Systematic retrieval of data or other Content from the
Classicly Service to create or compile, directly or indirectly, a collection,
database or directory without written permission from Spreadsong is prohibited.
Any third party that contacts our users for commercial reasons, including to
sell them products or services, is in violation of these terms and each
individual violation is subject to $20,000 in penalties per instance.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Reproducing, copying, or distributing any Content,
materials, or design elements on the Classicly Service for any use or purpose
not expressly permitted by these Terms is strictly prohibited without the
express prior written permission of Spreadsong. Any rights not expressly
granted herein are reserved.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>You acknowledge and agree that the Classicly Service and
any necessary software used in connection with the Classicly Service, including
without limitaton the Classicly Site and the Classicly Apps (collectively, &quot;<b>Software</b>&quot;)
contain proprietary and confidential information that is protected by
applicable intellectual property and other laws. Spreadsong grants you a
personal, non-transferable, and non-exclusive right and license to use the
object code of its Software on a single device; <i>provided, however,</i> that
you do not (and do not allow any third party to) copy, modify, create a
derivative work of, reverse engineer, reverse assemble, or otherwise attempt to
discover any source code, sell, assign, sublicense, grant a security interest
in, or otherwise transfer any right in the Software. You agree not to modify
the Software in any manner or form, or to use modified versions of the
Software, including (without limitation) for the purpose of obtaining
unauthorized access to the Classicly Service. You agree not to access the Classicly
Service by any means other than through the interface that is provided by
Spreadsong for use in accessing the Classicly Service. Spreadsong hereby
reserves all rights not otherwise expressly granted in this Section 12.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>13. DISCLAIMER OF
WARRANTIES</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>YOUR
USE OF THE CLASSICLY SERVICE, INCLUDING WITHOUT LIMITATION THE CLASSICLY SITE
AND THE CLASSICLY APPS, IS AT YOUR SOLE RISK. THE CLASSICLY SERVICE, INCLUDING
WITHOUT LIMITATION THE CLASSICLY SITE AND THE CLASSICLY APPS, IS PROVIDED ON AN
&quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS. SPREADSONG EXPRESSLY
DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING,
BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>SPREADSONG
MAKES NO WARRANTY THAT (i) THE CLASSICLY SERVICE WILL MEET YOUR REQUIREMENTS,
(ii) THE CLASSICLY SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR
ERROR-FREE, (iii) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE CLASSICLY
SERVICE WILL BE ACCURATE OR RELIABLE, (iv) THE QUALITY OF ANY PRODUCTS,
SERVICES, INFORMATION, OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH
THE CLASSICLY SERVICE WILL MEET YOUR EXPECTATIONS, AND (V) ANY ERRORS IN THE
SOFTWARE WILL BE CORRECTED.</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>ANY
CONTENT OR OTHER MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF
THE CLASSICLY SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL
BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA
THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>NO
ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM SPREADSONG
OR THROUGH OR FROM THE CLASSICLY SERVICE SHALL CREATE ANY WARRANTY NOT
EXPRESSLY STATED IN THE TERMS.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>YOU ARE ADVISED THAT SPREADSONG DOES NOT WARRANT THE
SERVICES PROVIDED BY ANY SERVICE PROVIDER LISTED ON THE CLASSICLY SERVICE. IT
IS UP TO YOU TO CHOOSE THE PROVIDER BEST SUITED FOR YOUR NEEDS. </span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>14. LIMITATION OF
LIABILITY</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>IN NO EVENT SHALL SPREADSONG (OR ITS AFFILIATES,
LICENSORS, OR SUPPLIERS) BE LIABLE CONCERNING THE SUBJECT MATTER OF THESE
TERMS, REGARDLESS OF THE FORM OF ANY CLAIM OR ACTION (WHETHER IN CONTRACT,
NEGLIGENCE, STRICT LIABILITY, OR OTHERWISE), FOR ANY (A) MATTER BEYOND ITS
REASONABLE CONTROL, (B) LOSS OR INACCURACY OF DATA, LOSS, OR INTERRUPTION OF
USE, OR COST OF PROCURING SUBSTITUTE TECHNOLOGY, GOODS OR SERVICES, (C) DIRECT
OR INDIRECT, PUNITIVE, INCIDENTAL, RELIANCE, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES INCLUDING, BUT NOT LIMITED TO, LOSS OF BUSINESS,
REVENUES, PROFITS, OR GOODWILL, OR (D) AMOUNTS IN THE AGGREGATE GREATER THAN TEN
DOLLARS ($10), EVEN IF SPREADSONG HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
DAMAGES. THESE LIMITATIONS ARE INDEPENDENT FROM ALL OTHER PROVISIONS OF THIS
AGREEMENT AND SHALL APPLY NOTWITHSTANDING THE FAILURE OF ANY REMEDY PROVIDED
HEREIN.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>15. EXCLUSIONS
AND LIMITATIONS</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><b><span style='font-size:10.0pt;
font-family:Arial;color:#363636'>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION
OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR
INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE LIMITATIONS
OF SECTIONS 17 AND 18 MAY NOT APPLY TO YOU.</span></b></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>16. NOTICE</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Notices to you may be made via either electronic
communication, email, or regular mail. The Classicly Service may also provide
notices of changes to the Terms or other matters by displaying notices or links
to notices to you generally on the Classicly Service.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>17. COPYRIGHT
DISPUTE POLICY</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Spreadsong has adopted the following general policy toward
copyright infringement in accordance with the Digital Millennium Copyright Act
or DMCA (posted at <u>http://www.lcweb.loc.gov/copyright/legislation/dmca.pdf</u>).
The address of Spreadsong's Designated Agent to Receive Notification of Claimed
Infringement (&quot;<b>Designated Agent</b>&quot;) is provided at the bottom of
this section.</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Spreadsong Policy</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:1.0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>It is Spreadsong's policy to (i) block access to or remove
material that it believes in good faith to be copyrighted material that has
been illegally copied and distributed by any of our advertisers, affiliates,
Content providers, members or users; and (ii) remove and discontinue service to
repeat offenders.</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Procedure for Reporting
Copyright Infringements</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:1.0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>If you believe that material or Content residing on or
accessible through the Classicly Service infringes a copyright, please send a
notice of copyright infringement containing the following information to the
Designated Agent listed below (&quot;<b>Proper Bona Fide Infringement
Notification</b>&quot;):</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>A
physical or electronic signature of a person authorized to act on behalf of the
owner of the copyright that has been allegedly infringed;</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Identification
of works or materials being infringed;</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Identification
of the material that is claimed to be infringing including information
regarding the location of the infringing materials that the copyright owner
seeks to have removed, with sufficient detail so that Spreadsong is capable of
finding and verifying its existence;</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Contact
information about the notifier including address, telephone number and, if
available, email address;</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>A
statement that the notifier has a good faith belief that the material is not
authorized by the copyright owner, its agent, or the law; and</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>A
statement made under penalty of perjury that the information provided is
accurate and the notifying party is authorized to make the complaint on behalf
of the copyright owner.</span></p>

<p class=MsoNormal style='margin-left:1.75in;text-align:justify'><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Upon Receipt of a Bona
Fide Infringement Notification</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:1.0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Once Proper Bona Fide Infringement Notification is
received by the Designated Agent, it is Spreadsong's policy:</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>to remove or disable
access to the infringing material;</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>to notify the Content
provider, member or user that it has removed or disabled access to the material;
and</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>that for repeat
offenders, Spreadsong will also terminate such Content provider's, member's or
user's access to the Classicly Service.</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Procedure to Supply a
Counter-Notice to the Designated Agent If the Content provider, member or user
believes that the material that was removed or to which access was disabled is
either not infringing, or the Content provider, member or user believes that it
has the right to post and use such material from the copyright owner, the
copyright owner's agent, or pursuant to the law, the Content provider, member
or user must send a counter-notice containing the following information to the
Designated Agent listed below:</span></p>

<p class=MsoNormal style='margin-left:.75in;text-align:justify'><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>A
physical or electronic signature of the Content provider, member or user;</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>Identification
of the material that has been removed or to which access to has been disabled
and the location at which the material appeared before it was removed or
disabled;</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>A
statement that the Content provider, member or user has a good faith belief
that the material was removed or disabled as a result of mistake or a
misidentification of the material; and</span></p>

<p class=MsoNormal style='margin-left:2.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt;font-family:Arial;color:#363636'>The
Content provider's, member's or user's name, address, telephone number, and, if
available, email address and a statement that such person or entity consents to
the jurisdiction of the Federal Court for the judicial district in which the
Content provider's, member's or user's address is located, or if the Content
provider's, member's or user's address is located outside the United States,
for any judicial district in which Spreadsong is located, and that such person
or entity will accept service of process from the person who provided
notification of the alleged infringement.</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Removal</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:1.0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>If a counter-notice is received by the Designated Agent,
Spreadsong may send a copy of the counter-notice to the original complaining
party informing that person that it may replace the removed material or cease
disabling it in ten (10) business days. Unless the copyright owner files an
action seeking a court order against the Content provider, member or user, the
removed material may be replaced or access to it restored in ten (10) to
fourteen (14) business days or more after receipt of the counter-notice, at
Spreadsong's discretion.</span></p>

<p class=MsoNormal style='margin-left:1.0in;text-align:justify;text-indent:
-.25in'><span style='font-size:10.0pt;font-family:Verdana'>&#9679;<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Address for Designated
Agent. Please contact Spreadsong's Designated Agent to Receive Notification of
Claimed Infringement at the following address:</span></p>

<p class=MsoNormal style='margin-left:.75in;text-align:justify'><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>&nbsp;</span></p>

<p class=MsoNormal style='margin-left:1.5in;text-align:justify'><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Colin Plamondon</span></p>

<p class=MsoNormal style='margin-left:1.5in;text-align:justify'><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Copyright Agent,
Spreadsong Inc.</span></p>

<p class=MsoNormal style='margin-left:1.5in;text-align:justify'><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>319 A Street Ste 5F
Boston MA 02110</span></p>

<p class=MsoNormal style='margin-left:1.5in;text-align:justify'><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Phone: (617) 286-4768 </span></p>

<p class=MsoNormal style='margin-left:1.5in;text-align:justify'><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Fax: 415-520-3770</span></p>

<p class=MsoNormal style='margin-left:1.5in;text-align:justify'><span
style='font-size:10.0pt;font-family:Arial;color:#363636'>Email to:
colin@spreadsong.com</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
font-family:Arial;color:#363636'>&nbsp;</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>18. GENERAL
PROVISIONS</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>These Terms (and the documents incorporated by reference
herein) constitute the entire agreement between you and Spreadsong and govern
your use of the Classicly Service (including without limitation the Classicly
Site and the Classicly Apps), superseding any prior agreements between you and
Spreadsong (including, but not limited to, any prior versions of these Terms).
These Terms and the Classicly Service contemplated hereunder are personal to
you, and are not assignable, transferable or sublicensable by you except with
Spreadsong's prior written consent. Spreadsong may assign, transfer, or
delegate any of its rights and obligations hereunder without your consent. You
also may be subject to additional terms and conditions that may apply when you
use affiliate or other Spreadsong services, third-party Content or third-party
software. These Terms and the relationship between you and Spreadsong shall be
governed by the laws of the State of Washington without regard to its conflict
of law provisions. You and Spreadsong agree to submit to the personal and
exclusive jurisdiction of the courts located within Seattle, Washington. The
failure of Spreadsong to exercise or enforce any right or provision of these
Terms shall not constitute a waiver of such right or provision. If any
provision of these Terms is found by a court of competent jurisdiction to be
invalid, the parties nevertheless agree that the court should endeavor to give
effect to the parties' intentions as reflected in the provision, and the other
provisions of these Terms remain in full force and effect. You agree that
regardless of any statute or law to the contrary, any claim or cause of action
arising out of or related to use of the Classicly Service or these Terms must
be filed within one (1) year after such claim or cause of action arose or be
forever barred. The section titles in these Terms are for convenience only and
have no legal or contractual effect.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>19. VENUE ONLY</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>If you enter into correspondence or engage in commercial
transactions with third parties in connection with your use of the Classicly
Service, such activity is solely between you and the applicable third party.
Spreadsong shall have no liability, obligation or responsibility for any such
activity. You hereby release Spreadsong from all claims arising from such
activity.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>19. TRADEMARKS
AND COPYRIGHTS</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Spreadsong, the Spreadsong logo, Classicly.com, Free Books
for iPhone, Free Audiobooks for iPhone, Free Books for iPad, Books for iPhone,
Audiobooks for iPhone, Classicly for iPhone, Classicly for iPad, and the
Classicly.com logo proprietary service marks of Spreadsong Inc. ©2007-2011
Spreadsong, Inc. All rights reserved.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>20. MANDATORY
ARBITRATION</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>ANY CLAIM, CONTROVERSY OR DISPUTE OF ANY KIND BETWEEN THE
USER AND SPREADSONG AND/OR ANY OF ITS EMPLOYEES, AGENTS, AFFILIATES, OR OTHER
REPRESENTATIVES, WHETHER SOUNDING IN CONTRACT, STATUTE OR TORT, INCLUDING
FRAUD, MISREPRESENTATION, FRAUDULENT INDUCEMENT, OR ANY OTHER LEGAL OR
EQUITABLE THEORY AND REGARDLESS OF THE DATE OF ACCRUAL OF SUCH CLAIM,
CONTROVERSY, OR DISPUTE SHALL BE RESOLVED BY FINAL AND BINDING ARBITRATION AS
PRESCRIBED IN THIS SECTION. THE FEDERAL ARBITRATION ACT, NOT STATE LAW, GOVERNS
THE QUESTION OF WHETHER A CLAIM IS SUBJECT TO ARBITRATION. HOWEVER, NOTHING
CONTAINED IN THIS ARBITRATION PROVISION SHALL PRECLUDE THE CUSTOMER FROM
RESOLVING ANY CLAIM, CONTROVERSY OR DISPUTE IN SMALL CLAIMS COURT HE OR SHE
WOULD OTHERWISE WOULD HAVE A RIGHT TO PURSUE.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>A single arbitrator engaged in the practice of law will
conduct the arbitration. The arbitrator will be selected in accordance to the
rules of JAMS or may be selected by agreement of the parties, who shall
cooperate in good faith to select the arbitrator. The arbitration will be
conducted by, and under the then applicable rules of the JAMS. Any required
hearing fees and costs shall be paid by the parties as required by applicable
rules or as required by applicable law, but the arbitrator shall have the power
to apportion such costs as the arbitrator deems appropriate.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>THE ARBITRATOR'S DECISION AND AWARD WILL BE FINAL AND
BINDING, AND JUDGMENT ON THE AWARD RENDERED BY THE ARBITRATOR MAY BE ENTERED IN
ANY COURT WITH JURISDICTION. TO ENFORCE THE ARBITRATION AWARD, THE PREVAILING
PARTY IN THE ARBITRATION SHALL BE ENTITLED TO INJUNCTIVE RELIEF IN ANY COURT OF
COMPETENT JURISDICTION.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>If any party files a judicial or administrative action
asserting a claim that is subject to arbitration and another party successfully
stays such action or compels arbitration, the party filing that action must pay
the other party's costs and expenses incurred in seeking such stay or
compelling arbitration, including attorney fees.</span></p>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>THIS AGREEMENT IS GOVERNED BY AND MUST BE CONSTRUED UNDER
THE LAWS OF THE STATE OF WASHINGTON, WITHOUT REGARD TO CHOICE OF LAW PRINCIPLES
AND YOU AGREE TO SUBMIT YOURSELF TO THE PERSONAL JURISDICTION OF THE COURTS IN
THE STATE OF WASHINGTON.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>21. BREACH OF
TERMS OF SERVICE</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>By using the Classicly Service and/or Content, you agree
that damages shall be an inadequate remedy in the event you breach these Terms
and any such breach will cause Spreadsong great and irreparable injury and
damage. Accordingly, you agree that Spreadsong shall be entitled, without
waiving any additional rights or remedies otherwise available to Spreadsong at law
or in equity or by statute, to injunctive relief in the event of a breach or
intended or threatened breach by you.</span></p>

<h3 style='text-align:justify'><span style='font-size:11.0pt'>22. VIOLATIONS</span></h3>

<p class=MsoNormal style='margin-top:5.0pt;margin-right:0in;margin-bottom:5.0pt;
margin-left:0in;text-align:justify'><span style='font-size:10.0pt;font-family:
Arial;color:#363636'>Please report any violations of the Terms to us at
tosviolation@classicly.com.</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
font-family:Arial;color:#363636'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:10.0pt;font-family:Arial;color:#363636'>&nbsp;</span></p>

<p class=MsoNormal>&nbsp;</p>

</div>

<hr class=msocomoff align=left size=1 width="33%">
