%li{:id => "book_#{book.id}"}
  .cover
    .cover-here.small
      .stable
        .spinner
  .book-info
    = link_to book.title, author_book_url(book.author, book), :class => "title"
    %p
      %span
        by
        = link_to book.author.name, seo_url(book.author), :class => "author"
    .clear
    = shorten_text simple_format(book.description), 300

  .download-link
    =link_to image_tag('view-this-book.png'), author_book_url(book.author, book)
