%li
  .cover
    .cover-here.small
      .stable
        .spinner
  .book-info
    = link_to book.title, author_book_url(book.author, book), :class => "title"
    %br
    %span
      by
      = link_to book.author.name, seo_url(book.author), :class => "author"

  .download-link
    =image_tag 'view-this-book.png'
