= link_to 'Admin books', admin_admin_infoable_path(:type => 'book')
= link_to 'Admin audiobooks', admin_admin_infoable_path(:type => 'audiobook')
= link_to 'Admin collections', admin_admin_infoable_path(:type => 'collection')
= link_to 'Admin download pages', admin_admin_infoable_path(:type => 'seo_slug')