.show-post
  .blog-title
    %h2 
      = link_to post.title, seo_path(post)
      %span.date= post.created_at.to_s :post_title_format
      %span.author Tyler
  .content
    = raw post.content
  .related
    %h5 Related Books
    - for book in post.related_books
      .book-cover{:id => "book_#{book.id}"}
        .cover-here.medium.popular
          .stable
            .spinner