#blog-page.blog-shared
  .about-the-blog
    %h1 Welcome to the Book Blog
    %p This is <strong>Book Blog</strong>, a weblog by Spreadsong about literature, classic authors, ereading, and our mobile apps, Free Books and Free Audiobooks, for iPhone and iPad.
    <a href="http://twitter.com/classiclyapp" class="twitter-follow-button" data-show-count="true">Follow @classiclyapp</a>

  = render :partial => 'blog_post', :collection => @posts, :as => :post
= javascript_include_tag 'covers-blog-page'
:javascript
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'classicly'; // required: replace example with your forum shortname
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
