%h2.section-header
  Blog Posts

%table#blog_entries_table.listing
  %thead
    %tr
      %th.header
        title
      %th.header
        keywords
      %th.header
        functions
  %tbody
    - for post in @blog_posts
      %tr
        %td
          =link_to post.title, edit_admin_blog_post_path(post.id)
        %td
          = post.keywords
        %td
          = link_to 'Edit', edit_admin_blog_post_path(post.id)
          = link_to 'Delete', admin_blog_post_path(post), :method => :delete
.link.blue
  = link_to 'New entry', new_admin_blog_post_path
